<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Google</title>
    <link href="css/resetstyle.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <script src="js/jquery-1.12.3.js"></script>
    <script src="js/template.js"></script>
    <script src="js/script.js"></script>
</head>
<body>
    <div class="wrapper">
        <div class="logo">
            <div class="logo-subtext">Украина</div>
        </div>
        <div class="button">
            <form onsubmit="return false">
                <div><input class="search" id="search" maxlength="2048" name="q" type="text" value="foto"></div>
                <div><input class="submit" id="button" name="btnK" type="submit" value="Поиск Google"></div>
            </form>
        </div>
    </div>
    <div class="searchcontent">
    <script type="text/html" id="test">
        <ol class="searchList">
            <% for ( var i = 0; i < data.length; i++ ) { %>
            <li>
                <div class="table"><a href="<%= data[i].webformatURL %>"><%= data[i].tags %></a></div>
                <div><a href="<%= data[i].webformatURL %>"><img src="<%= data[i].previewURL %>" alt="<%= data[i].type %>" title="#"></a></div>
                <br>
            </li>
            <% } %>
        </ol>
    </script>
    </div>

</body>
</html>