/* Вставка макета для проверки на идентичность*/
.template {
		position: absolute;
		background-color: transparent;
		opacity: 0.5;
		z-index: 1;
		top: -37px;
		left: -75px;
}
body {
	min-height: 400px;
	background-color: #0c739f;
	background-image: url(../img/bg.png);
	background-repeat: repeat-x;
}

.white_main {
	max-width: 1000px;
	margin: 0 auto;
	background-color: #ffffff;
	overflow: hidden;
}
/* Верхняя панель Логотип, контакты, ярлыки*/
.top_panel {
	min-height: 176px;
}
.logo {
	float: left;
	width: 283px;
}
.contact {
	float: right;
	width: 124px;
	height: 67px;
	color: #128aa7;
	font-size: 10px;	
}
/* Ярлыки contries*/
.cantries {
	clear: right;
	list-style: none; /* прячем маркеры */
	font-size: 8px;
	margin: 0 0 0 0;
}
.cantries li {
	float: right; /* выстраиваем элементы списка в один ряд */
	margin-right: 18px; /* делаем отступ чтобы пункты меню не сливались */
}
.cantries li a {
	display: block;
	text-align: center;
	padding-top: 42px; /* внутренний остту чтобы текст был вне фона */
	color: #ff0000;
	background-position: center top; /* выравниваем фон вверх и по центру */
	background-repeat: no-repeat;
	width: 42px; /* размеры указываем чтобы картинки полностью отобразились */
	height: 20px;
}
/** html .cantries li a { /* хак для IE6, который иначе трактует блочную модель 
	height: 55px;
}*/
.cantries .india a {
	background-image: url(../img/india.png);
}
.cantries .nepal a {
	background-image: url(../img/nepal.png);
}
.cantries .tibet a {
	background-image: url(../img/tibet.png);
}
.cantries .butan a {
	background-image: url(../img/butan.png);
}
.cantries .srilanka a {
	background-image: url(../img/srilanka.png);
}
.cantries .maldives a {
	background-image: url(../img/maldives.png);
}
.cantries li a:hover {
	color: #0000CC;
}

/*фото*/
.foto {
	width: 100%;	
	height: 237px;
	clear: both;
}

/* Меню */
@import "compass/css3";
.navigation {
  list-style: none;
  margin: 0; 
  background: deepskyblue;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: space-around;
  justify-content: space-around;
}
.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}
.navigation a:hover {
  background: darken(deepskyblue, 2%);
}
@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}
@media all and (max-width: 600px) {
  .navigation {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }
  
  .navigation a { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3); 
    border-bottom: 1px solid rgba(0,0,0,0.1); 
  }
  .navigation li:last-of-type a {
    border-bottom: none;
  }
}
/*3 Колонки по 3 методу*/
.fon1 {  /* фон для левой колонки (синий) */
width: 100%;
background: #3d2af0;
float: left; /* делаем все обертки плавающими блоками чтобы избежать добавления блока с clear: both; */
position: relative; /* чтобы иметь возможность сместить фон */
right: 30%; /* обнажаем красный фон для центральной колонки. 30% - ширина центральной колонки */
}
.fon2 {/* фон для центральной колонки (красный) */
width: 100%;
background: #e34456;
float: left;
position: relative;
right: 40%; /* обнажаем желтый фон для правой колонки. 40% - ширина правой колонки */
}
.fon3 {/* фон для правой колонки (желтый) */
width: 100%;
background: #e3e244;
float: left;
}
.leftColumn {
width: 30%;
min-height: 500px;
float: left;
overflow: hidden; /* страховка от ломки верстки объектами шире размера колонки-родителя */
position:relative;
left:70%; /* возвращаем колонки с контентом на свои позиции. 70% - сумма смещений оберток fon1 и fon2 */
}
.centerColumn {
width: 30%;
min-height: 500px;
float: left;
overflow: hidden;
position:relative;
left:70%;
}
.rightColumn {
width: 39%;
min-height: 500px;
float: left;
overflow: hidden;
position:relative;
left:70%;
}

.copyright {
	position: relative;
	clear: both;
	width: 50%;
	margin: 0 auto;
	color: white;
	font-size: 10px;
	text-align: center;
}


