@import url(Tahoma-Regular.css);
/*.template { /* Вставка макета для проверки на идентичность
	position: absolute;
	background-color: transparent;
	opacity: 0.5;
	z-index: 1;
	top: -37px;
	left: -75px;
}*/
body {
	min-height: 400px;
	background-color: #0c739f;
	background-image: url(../img/bg.png);
	background-repeat: repeat-x;
}
.white_main {
	max-width: 1000px;
	margin: 0 auto;
	background-color: #ffffff;
	overflow: hidden;
	-webkit-box-shadow: 0px 3px 4px 1px rgba(3,29,40,1);
	-moz-box-shadow: 0px 3px 4px 1px rgba(3,29,40,1);
	box-shadow: 0px 3px 4px 1px rgba(3,29,40,1);
}
/* Верхняя панель Логотип, контакты, ярлыки*/
.top_panel {
	min-height: 175px;
}
.logo {
	float: left;
	margin: 12px 0 -5px 27px;
}
.logo  p{
	position: absolute;
	color: #128aa7;
	font-size: 12px;
	width: 125px;
	top: 13.5%;
	left: 23%;
}
.contact {
	float: right;
	width: 135px;
	height: 67px;
	color: #128aa7;
	font-size: 12px;
	line-height: 19px;
    margin: 7px 23px 0 0;	
}
/* Ярлыки contries*/
.cantries {
	clear: right;
	list-style: none; /* прячем маркеры */
	font-size: 8px;
	padding: 39px 19px 0 0;
}
.cantries li {
	float: right; /* выстраиваем элементы списка в один ряд */
	margin-right: 15px; /* делаем отступ чтобы пункты меню не сливались */
}
.cantries li a {
	display: block;
	text-align: center;
	padding-top: 44px; /* внутренний остту чтобы текст был вне фона */
	color: #128aa7;
	background-position: center top; /* выравниваем фон вверх и по центру */
	background-repeat: no-repeat;
	width: 42px; /* размеры указываем чтобы картинки полностью отобразились */
	height: 10px;
}
/** html .cantries li a { /* хак для IE6, который иначе трактует блочную модель 
	height: 55px;
}*/
.cantries .india a {
	background-image: url(../img/india.png);
}
.cantries .nepal a {
	background-image: url(../img/nepal.png);
}
.cantries .tibet a {
	background-image: url(../img/tibet.png);
}
.cantries .butan a {
	background-image: url(../img/butan.png);
}
.cantries .srilanka a {
	background-image: url(../img/srilanka.png);
}
.cantries .maldives a {
	background-image: url(../img/maldives.png);
}

/*фото*/
.foto {
	width: 100%;	
	height: 237px;
	clear: both;
}

/* Меню */
@import "compass/css3";
.navigation {
	list-style: none;
	padding: 0 30px;
	position: relative;
	background-image: url(../img/Mnavpanel.png);
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: space-around;
	justify-content: space-around;
	-webkit-box-shadow: 0px 0px 4px 1px rgba(79,79,80,1);
	-moz-box-shadow: 0px 0px 4px 1px rgba(79,79,80,1);
	box-shadow: 0px 0px 4px 1px rgba(79,79,80,1);
	z-index: 1;
}
.navigation a {
	font-size: 15px;
	text-decoration: none;
	display: block;
	padding: 6px;
	color: white;
}
.navigation a:hover {
	background: darken(deepskyblue, 2%);
}
@media all and (max-width: 800px) {
	.navigation {
		justify-content: space-around;
		background-image: url(../img/Mnavpanel800.png);
	}
}
@media all and (max-width: 600px) {
	.navigation {
		-webkit-flex-flow: column wrap;
		flex-flow: column wrap;
		background-image: url(../img/Mnavpanel.png);
		padding: 0;
	}
	.navigation a { 
		text-align: center; 
		padding: 4px;
		line-height: 22px;	
	}
	.navigation li:last-of-type a {
		border-bottom: none;
	}
}
/*Выпадающее подменю*/
.submenu_puteshestvie {
	display: none;
	position: absolute;
	top: 101%;
    left: 17%;
    width: 13%;
	min-width: 150px;
    background-color: #303030;
	opacity: 0.99;
	-webkit-box-shadow: 0px 4px 8px 1px rgba(64,64,64,1);
	-moz-box-shadow: 0px 4px 8px 1px rgba(64,64,64,1);
	box-shadow: 0px 4px 8px 1px rgba(64,64,64,1);
}
.submenu_uslugi {
	display: none;
	position: absolute;
	top: 101%;
    left: 33%;
    width: 8%;
	min-width: 100px;
    background-color: #303030;
	-webkit-box-shadow: 0px 4px 8px 1px rgba(64,64,64,1);
	-moz-box-shadow: 0px 4px 8px 1px rgba(64,64,64,1);
	box-shadow: 0px 4px 8px 1px rgba(64,64,64,1);
}
.submenu_partneram {
	display: none;
	position: absolute;
	top: 101%;
    left: 44.5%;
    width: 11%;
	min-width: 130px;
    background-color: #303030;
	-webkit-box-shadow: 0px 4px 8px 1px rgba(64,64,64,1);	
	-moz-box-shadow: 0px 4px 8px 1px rgba(64,64,64,1);
	box-shadow: 0px 4px 8px 1px rgba(64,64,64,1);	
}
.navigation li:hover .submenu_puteshestvie,
.navigation li:hover .submenu_uslugi,
.navigation li:hover .submenu_partneram {
	display: block;
	z-index: 1;
}
/*3 Колонки по 3 методу*/
h1 {
	text-align: center;
	font-size: 20px;
	font-family: Tahoma-Regular;
	line-height: 36px;
	font-weight: 700;
}
.fon1 {  /* фон для левой колонки (синий) */
	width: 100%;
	background: #edeef0;
	float: left; /* делаем все обертки плавающими блоками чтобы избежать добавления блока с clear: both; */
	position: relative; /* чтобы иметь возможность сместить фон */
	right: 58%; /* обнажаем красный фон для центральной колонки. 30% - ширина центральной колонки */
	border-right: 1px solid #c7cacf;
}
.fon2 {/* фон для центральной колонки (красный) */
	width: 100%;
	background: #ffffff;
	float: left;
	position: relative;
	right: 21%; /* обнажаем желтый фон для правой колонки. 40% - ширина правой колонки */
	border-right: 1px solid #c7cacf;
}
.fon3 {/* фон для правой колонки (желтый) */
	width: 100%;
	background: #edeef0;
	float: left;
	color: #424c43;
	font-size: 14px;
	font-family: Tahoma-Regular;
	line-height: 25px;
}
.leftColumn {
	width: 18%;
	min-height: 500px;
	padding: 0 15px;
	float: left;
	overflow: hidden; /* страховка от ломки верстки объектами шире размера колонки-родителя */
	position:relative;
	left:79%; /* возвращаем колонки с контентом на свои позиции. 79% - сумма смещений оберток fon1 и fon2 */
}
.centerColumn {
	width: 55%;
	min-height: 500px;
	padding: 0 15px;
	float: left;
	overflow: hidden;
	position:relative;
	left:79%;
}
.rightColumn {
	width: 18%;
	min-height: 500px;
	padding: 0 15px;
	float: left;
	overflow: hidden;
	position:relative;
	left:79%;
}
.copyright {
	position: relative;
	clear: both;
	width: 100%;
	height: 35px;
	margin: 3px auto 0;
	padding-top: 10px;
	color: white;
	background-color: #0c739f;
	font-size: 12px;
	text-align: center;
	z-index: 1;
}


