@import "fonts.scss";
@import "variable_miximas.scss";

.slide1-article {
  h1{
    width: 100%;
    max-width: 427px;
    //height: 118px;
    color: white;
    font-family: $font-SN;
    font-size: 64px;
    font-weight: 300;
    line-height: 72px;
  }
  p {
    width: 90%;
    max-width: 427px;
    height: 70px;
    color: white;
    font-family: $font-SN;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    overflow: hidden;
    //text-overflow: ellipsis;
    //margin: 52px 0 50px;
  }
}

.slide2-article {
    color: white;
  h1 {
    //width: 230px;
    //height: 76px;
    font-family: $font-s;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-transform: uppercase;
    margin: 30px 10px 10px 10px;
  }
  p {
    //width: 230px;
    //height: 76px;
    //color: white;
    font-family: $font-SN;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    overflow: hidden;
  }
}

.slide3-article {
  width: 44%;
  max-width: 550px;
  //height: 177px;
  color: white;
  font-family: $font-ST;
  h1 {
    font-size: 36px;
    font-weight: 300;
    line-height: 48px;
  }
  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-right: -20px;
  }
}