$font-ss: Arial, sans-serif;
$font-s: "Times New Roman", serif;

$font-SN: SolomonNormal, Arial, sans-serif;
$font-SBol: SolomonBold, Arial, sans-serif;
$font-SBook: SolomonBook, Arial, sans-serif;
$font-SL: SolomonLight, Arial, sans-serif;
$font-ST: SolomonThin, Arial, sans-serif;

$fonts-color-slide1: #fff;

$bg-color-slide1: #6358c0;
$bg-color-slide2: #61acec;
$bg-color-slide3: #68a780;


