/* колонки */
.fon {
    width: 527px; /* ширина трех блоков */
    background: rgba(201,207,209,0.49);
    background: -moz-linear-gradient(top, rgba(201,207,209,0.49) 0%, rgba(35,75,93,0.49) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(201,207,209,0.49)), color-stop(100%, rgba(35,75,93,1)));
    background: -webkit-linear-gradient(top, rgba(201,207,209,0.49) 0%, rgba(35,75,93,0.49) 100%);
    background: -o-linear-gradient(top, rgba(201,207,209,0.49) 0%, rgba(35,75,93,0.49) 100%);
    background: -ms-linear-gradient(top, rgba(201,207,209,0.49) 0%, rgba(35,75,93,0.49) 100%);
    background: linear-gradient(to bottom, rgba(201,207,209,0.49) 0%, rgba(35,75,93,0.49) 100%);
    float: left; /* чтобы не добавлять div с style="clear:both;" (не всегда уместно это применять) */
    margin-left: 200px;
}
.leftColumn {
    width: 175px;
    float: left;
    margin-left: -195px;
    padding: 10px;
}
.centerColumn {
    width: 527px;
    float: left;
    padding-bottom: 23px;
}
.rightColumn {
    width: 195px;
    float: left;
    margin-right: -195px;
}
/*Товар*/
.tovar {
    float: left;
    width: 138px;
    height: 176px;
    text-align: center;
    font-family: Arial, sans-serif;
    color: #206988;
    text-decoration: none;
    padding-top: 3px;
    margin: 8px 7px 15px 23px;
}
/*.tovar img {
    width: 130px;
    height: 140px;
}*/
.tovar dl {
    margin: 0;
}
.tovar p {
    color: #000;
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    text-indent: 6px;
    line-height: 15px;
}
.tovar a {
    text-decoration: inherit;
    color: inherit;
    line-height: 13px;
    vertical-align: bottom;
    font-weight: 600;
}
.tovar dd {
    color: #114165;
    margin: 0;
    font-weight: 900;
    font-style: italic;
    font-size: 15px;
    line-height: 14px;
    text-indent: 7px;
}
.tovar dd span {
    font-stretch: ultra-condensed; /* стилизация шрифта в "грн."*/
}
/* Конец Товара */
/*Левая колонка*/
.list_1 {
    padding: 10px;
    font-size: 12px;
    list-style: url("../img/list1.png");
}
.list_1_1 {
    padding: 0;
    list-style: url("../img/list2.png");
}
.list_1_1_1 {
    list-style: url("../img/list3.png");
}

   /* border: 1px solid #79878d;*/


.clearfix {
    clear: both;
}