@charset "UTF-8";
@import url(fonts.css);
.template {
  /* Вставка макета для проверки на идентичность*/
  position: absolute;
  background-color: transparent;
  opacity: 0.3;
  z-index: 1;
  left: 0; }

.clearfix:after {
  content: '';
  display: block;
  clear: both; }

body {
  width: 1440px;
  margin: 0 auto; }

.header {
  font-family: Montserrat-Bold, Arial, sans-serif;
  color: #fff;
  width: 100%;
  padding-bottom: 235px;
  background: url("../img/banner.jpg") 0 0 no-repeat; }

.title {
  float: left;
  font-size: 18px;
  margin: 50px 0 0 250px;
  letter-spacing: 2px; }

.login {
  float: right;
  margin: 38px 250px 0 0; }

.login__login,
.login__singup {
  border: none;
  background: none;
  color: #fff;
  font-size: 17px; }

.login__login {
  margin: 0 6px 0 0; }

.login__singup {
  padding: 8px 16px 7px;
  border: 1px solid #fff;
  -moz-border-radius: 26px;
  -webkit-border-radius: 26px;
  -ms-border-radius: 26px;
  border-radius: 26px; }

.header__middle {
  text-align: center; }

.header__middle-name {
  font-size: 52px;
  margin: 140px 0 0 0;
  line-height: 62px; }

.header__middle-frase {
  font-family: Roboto-Light, Arial, sans-serif;
  font-size: 24px;
  margin: 27px 0 37px 0; }

.button {
  border: none;
  background-color: #ff4e50;
  color: #fff;
  padding: 11px 23px;
  -moz-border-radius: 32px;
  -webkit-border-radius: 32px;
  -ms-border-radius: 32px;
  border-radius: 32px; }

.header__middle-button {
  font-family: Montserrat-Bold, Arial, sans-serif;
  font-size: 14px; }

.howuwork {
  width: 100%;
  text-align: center;
  padding: 96px 0; }
  .howuwork h1 {
    font-family: Montserrat-Bold, Arial, sans-serif;
    font-size: 22px; }

.howuwork__articles {
  margin: 36px 250px; }

.slider-wrap {
  /* Оболочка слайдера и кнопок */
  width: 320px; }

.slider {
  /* Оболочка слайдера */
  width: 300px;
  height: 400px;
  overflow: hidden;
  position: relative; }

.slide {
  /* Слайд */
  width: 100%;
  height: 100%; }

.sli-links {
  /* Кнопки смены слайдов */
  margin-top: 10px;
  text-align: center; }

.prewbutton,
.nextbutton {
  /* Ссылка "Следующий" и "Педыдущий" */
  display: block;
  width: 30px;
  height: 55px;
  position: absolute;
  top: 153px;
  overflow: hidden;
  text-indent: -999px;
  background: url(../img/arrowBg.png) left center no-repeat;
  z-index: 3; }

.prewbutton {
  left: 20px; }

.nextbutton {
  right: 20px;
  background: url(../img/arrowBg.png) right center no-repeat; }

.prewbutton:hover,
.nextbutton:hover {
  cursor: pointer; }
