
.clearfix:after {
    content: '';
    display: block;
    clear: both;
}
body {
    font-family: Arial, Tahoma, sans-serif;
    color: black;
    position: absolute;
    margin: 0;
    padding: 0;
}
.wrapper {
    margin: 50px;
}
.carousel-hider {
    width: 350px;
    overflow: hidden;
    float: left;
}
.carousel-list {
    list-style: none;
    width: 10000px;
    position: relative;
    padding: 0;
}
.carousel-element {
    display: block;
    margin-right: 25px;
    float: left;
}
.carousel-element img {
    max-width: 100px;
}
/* arrows */
.arrow {
    width: 0;
    height: 0;
    border: 20px solid transparent;
    float: left;
    margin-top: 30px;
}
.arrow-left {
    border-right-color: #A04A0D;
    border-left: 0;
}
.arrow-right {
    border-left-color: #A04A0D;
    border-right: 0;
}
.arrow-right:hover {
    border-left-color: #683008;
    cursor: pointer;
}
.arrow-left:hover {
    border-right-color: #683008;
    cursor: pointer;
}

/* CV */
body {
    position: absolute;
    margin: 0;
    padding: 0;
}
/* Параметры фона */
.page {
    height: 790px;
    width: 1424px;
    margin: auto;
    padding: 9px 0 0 8px;
    background-color: #EFEFEF;
}
/* Параметры листа */
.leaf {
    height: 718px;
    width: 411px;
    margin: -27px auto 0 auto;
    padding: 56px 50px 0 50px;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 0px 4px 1px rgba(201,201,201,1);
    -moz-box-shadow: 0px 0px 4px 1px rgba(201,201,201,1);
    box-shadow: 0px 0px 4px 1px rgba(201,201,201,1);/* Тень листа */
    color: #000;
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
    font-weight: 500; /* Жирность шрифта */
}
/* 1st block */
.name_foto {
    text-align: center; /* ФИО выравнивание по центру */
    line-height: 14px; /* межстрочный интервал*/
    margin-bottom: 18px;
}
.name_foto p {
    text-align: left;
}
/* 2nd block */
.study_frontend {
    line-height: 27px;
    margin: 23px 0 -2px 0;
}
.study_frontend ul {
    padding-top: 10px;
    margin-left: -5px;
}
/* 3rd block */
.my_contacts {
    line-height: 10px;
    margin: 30px 0 25px 0;
}
/* 4th block */
.my_feedback {
    line-height: 10px;
    margin: 31px 0 0 0;
}
/* параметры фото*/
.name_foto img {
    width: 136px;
    height: 136px;
}
/* параметры разделительных линий блоков */
hr {
    border: none; /* Убираем границу для браузера Firefox */
    color: #7B7B7B; /* Цвет линии для остальных браузеров */
    background-color: #7B7B7B; /* Цвет линии для браузера Firefox и Opera */
    height: 1px; /* Толщина линии */
}
.leaf p,
.leaf a {
    padding-left: 15px; /* Абзац */
}