//@import "fonts.css";

$bgcolor: #2a2d32;
$ubuntuM: Ubuntu-Medium, sans-serif;

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
.body{
  width: 100%;
}
header {
  max-width: 1160px;
  margin: 37px auto 0;
}
.logo{
  h1 {
    font-family: Ubuntu-Medium, sans-serif;
    font-size: 22px;
    color: #434343;
  }
  h2 {
    font-family: Ubuntu-Light, sans-serif;
    font-size: 14px;
    color: #333;
  }
}
.logo__img{
  float: left;
}
.links {
  float: right;
  color: #880000;
}
.links__link {
  margin: 0 10px;
}
.top_menu{
  width: 100%;
  background-color: $bgcolor;
  margin: 37px 0 40px;
}
.menu {
  float: left;
  background-color: $bgcolor;
  font-family: Ubuntu-Condensed, sans-serif;
  font-size: 14px;
  color: #fff;
}
.menu__item{
  float: left;
  border-right: 1px solid #181a1d;
  a {
    display: inline-block;
    padding: 23px 38px;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    text-decoration: none;
  }
  a:hover{
    color: #f4b60d;
    cursor: pointer
}
}
.menu__item:first-child {
  background-color: #248cec;
}
.search{
  float: right;
  width: 200px;
  background-color: #35383c;
  padding: 9px 0 9px 12px;
  margin: 10px;
  border: 1px solid #181a1d;
}
.search__text {
  background: none;
  color: #4d4f53;
  border: none;
}
.search__button {
  background: none;
  border: none;
  .fa{
    color: #4d4f53;
  }
}
.carousel {
  overflow:hidden;
}
.crousel__img {
  height: 471px;
  width: 1160px;
  margin:0 10px;
}
.articles {
  width: 1160px;
  margin: auto;
}
.articles__article {
  float: left;
  margin: 70px 20px 80px;
}
.articles__article-content {
  float: right;
  margin: 0  0 0 38px;
}

.articles__article-list{
  display: inline-block;
  font-size: 70px;
  font-family: $ubuntuM;
  color: #e9e9ea;
  height: 100%;
}
.articles__article-img1{
  background: url("../img/spryte.png") 0 0 no-repeat;
  height: 32px;
}
.articles__article-img2{
  background: url("../img/spryte.png") 0 -34px no-repeat;
  height: 32px;
}
.articles__article-img3{
  background: url("../img/spryte.png") 0 -68px no-repeat;
  height: 32px;
}
.articles__article-head{
  font-family: $ubuntuM;
  color: #2a2b2e;
  font-size: 16px;
  margin: 22px 0 29px 0;
}
.articles__article-text{
  font-family: Arisl,sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #8a8a8a;
  overflow: hidden;
  width: 227px;
  height: 46px;
  margin: 0 0 25px 0;
}
.articles__article-link{
  font-family: $ubuntuM;
  color: #2a2b2e;
  font-size: 13px;
  text-decoration: none;
  span {
    color: #5eabf1;
  }
}
.articles__article-link:hover {
  color: #5eabf1;
  span {
    color: #2a2b2e;
  }
}
.gallery {
  width: 100%;
  background-color: #2a2d32;
  color: #fff;
  padding: 40px 0 60px;
  font-family: $ubuntuM;
  h2 {
    width: 1160px;
    margin: auto;
  }
}
.gallery__lists {
  width: 1160px;
  margin: auto;
}
.gallery__list {
  float: left;
  margin: 50px 30px 0 0;
  img {
    margin-bottom: 36px;
  }
  p {
    text-align: center;
  }
}
.gallery__list:last-child {
  margin: 50px 0 0;
}
.gallery__list:hover {
  color: #f4b60d;
  cursor: pointer;
}
.newswrapper {
  width: 100%;
  background-color: #f7f7f7;
  padding: 60px 0 80px;
}
.newswrapper__align {
  width: 1160px;
  margin: auto;
  h1 {
    margin: 0 0 50px 0;
    font-size: 20px;
    font-family: $ubuntuM;
    color: #000;
  }
}
.news {
  float: left;
  color: #8a8a8a;
  font-family: $ubuntuM;
  font-size: 13px;
  li {
    padding-left: 150px;
    height: 150px;
    position: relative;
    margin: 0 0 30px 0;
    h2 {
      margin: 0 0 0 30px;
      color: #2a2d32;
      padding-top: 5px;
    }
    h2:hover {
      color: #248cec;
      cursor: pointer;
    }
    p {
      margin: 0 0 0 30px;
    }
    span {
      color: #248cec;
    }
  }
}
.news__list-2 {
  background: url(../img/news23.jpg) no-repeat 0 0;
}
.news__list-1 {
  background: url(../img/news21.jpg) no-repeat 0 0;
}
.news__list-text {
  width: 373px;
  margin: 30px 0 0 30px;
}
.date {
  position: absolute;
  top: 10px;
  left: -17px;
  font-size: 18px;
  text-align: center;
  .month {
    background-color: #248cec;
    color: #fff;
    //height: 40px;
    width: 40px;
    padding: 11px 0 11px 0;
  }
  .day {
    background-color: #f4b60d;
    color: #2a2b2e;
    //height: 40px;
    width: 40px;
    padding: 11px 0 11px 0;
  }
}
.banner {
  float: right;
  font-family: $ubuntuM;
  li {
    list-style: none;
    margin: 0 0 7px 0;
  }
  h1 {
    margin: 0 0 50px 0;
    font-size: 20px;
  }
}
.banner__accordion:hover {
  cursor: pointer;
}
.banner__accordion-panel {
  float: left;
  width: 40px;
  padding: 11px 0;
  border-right: 1px solid #f7f7f7;
  background-color: #f4b60d;
  color: #fff;
  text-align: center;
}
.banner__accordion-head {
  width: 470px;
  padding: 13px 0 13px 50px;
  background-color: #f4b60d;
  color: #fff;
  font-size: 13px;
}
.banner__accordion-panel-visible {
  float: left;
  width: 40px;
  padding: 11px 0;
  border: 1px solid #e8e8e8;
  background-color: #fff;
  color: #000;
  text-align: center;
}
.banner__accordion-head-visible {
  width: 470px;
  padding: 13px 0 13px 50px;
  border: 1px solid #e8e8e8;
  background-color: #fff;
  color: #000;
  font-size: 13px;
}
.banner__accordion-text {
  font-family: Arial,sans-serif;
  font-size: 12px;
  color: #8a8a8a;
  width: 475px;
  padding: 30px 5px 40px 40px;
}
#text1 {
  display: block;
}
#text2,
#text3,
#text4 {
  display: none;
}
#head1v {
  display: block;
}
#head2v,
#plus2v,
#head3v,
#plus3v,
#head4v,
#plus4v {
  display: none;
}
#head1,
#plus1 {
  display: none;
}
#head2,
#plus2,
#head3,
#plus3,
#head4,
#plus4 {
  display: block;
}
.brands {
  width: 1160px;
  margin: auto;
  padding: 100px 0 90px 0;
  li {
    display: inline-block;
    background: url("../img/sprite.png") 0 0 no-repeat;
    width: 125px;
    height: 60px;
    margin: 0 25px;
  }
  .brands_2 {
    background-position: -155px ;
  }
  .brands_3 {
    background-position: -310px ;
    width: 155px;
  }
  .brands_4 {
    background-position: -485px ;
  }
  .brands_5 {
    background-position: -638px ;
  }
  .brands_6 {
    background-position: -780px ;
  }
}
.footer {
  width: 100%;
  background-color: #2a2d32;
  color: #fff;
  padding: 60px 0 75px 0;
}
.nav {
  width: 1160px;
  margin: auto;
}
.nav__menu {
  float: left;
  margin: 0 45px 0 0;
  font-family: $ubuntuM;
}
.nav__menu:last-child {
  margin: 0;
}
.nav__menu-list {
  color: #828385;
  border-bottom: 1px solid #828385;;
  width: 250px;
  a {
    color: inherit;
    text-decoration: none;
    line-height: 36px;
    font-family: $ubuntuM;
    font-size: 13px;
  }
  a:hover {
    color: #248cec;
    cursor: pointer;
  }
}
.nav__menu-list:last-child {
  border: none;
}
.nav__menu-list:first-child {
  margin: 46px 0 0 0;
}
.contacts {
  width: 100%;
  background-color: #35383c;
  color: #828385;
}
.contacts__list {
  width: 1160px;
  margin: auto;
  padding: 20px 0 20px 0;
  a {
    line-height: 14px;
    font-family: $ubuntuM;
    font-size: 11px;
    color: inherit;
    text-decoration: none;
    margin: 0 28px 0 0;
  }
  .fa {
    color: inherit;
  }
}
