@import url(fontstyle.css);
body {
	padding: 0;
	margin: 0;
	font-family: 'LeagueGothic-Regular', sans-serif;
	font-size: 18px;
	color: #ffffff;
}
h1, h2, h3, h4, h5, h6, ul, li, em, strong, pre, code {
	padding: 0;
	margin: 0;
	line-height: 1em;
	font-size: 100%;
	font-weight: normal;
	font-style: normal;
}
ul {
	list-style: none;
}
img {
	border: 0;
}
p {
	margin: 0 0;
}
