<div class="drop_menu">

    <div class="drop_menu-close">
        <a id="closemenu" href="#">&#10006;</a>
    </div>

    <div class="drop_menu-list">
        <ul>
            <li><a href="#">Item#1</a>
            </li>
            <li><a href="#">Item#2</a>
                <div id="drop" class="drop" class="clearfix">
                   <img src="img/plus.png" alt="+">
                </div>
                <ul class="submenu">
                    <li><a href="#">Subitems#1</a></li>
                    <li><a href="#">Subitems#2</a></li>
                    <li><a href="#">Subitems#3</a></li>
                </ul>
            </li>
            <li><a href="#">Item#3</a>
            </li>
        </ul>
    </div>


</div>
