<div class="slide">
    <div class="slide_3">
        <div class="mobile">
            <div class="slide3_video">
                <img src="img/photo.png" alt="#">
                <div class="slide3_video-play">
                    <a href="#"><img src="img/play.png" alt="play"></a>
                </div>
            </div>
            <article class="slide3_article">
                <h1>
                    What Is Lorem Ipsum Being
                    used for?
                </h1>
                <p>
                    Lorem Ipsum is simply dummy text of the printing
                    and typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy text ever since the 1500s, when an unknown printer took .
                </p>
            </article>
        </div>
        <div class="slide_3-slide">
            <div class="column">
                <div class="slide3_left">
                    <article class="slide3_article">
                        <h1>
                            What Is Lorem Ipsum Being
                            used for?
                        </h1>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing
                            and typesetting industry. Lorem Ipsum has been the industry's
                            standard dummy text ever since the 1500s, when an unknown printer took .
                        </p>
                    </article>
                </div>
            </div>
            <div class="column">
                <div class="slide3_video">
                    <img src="img/photo.png" alt="#">
                    <div class="slide3_video-play">
                        <a href="#"><img src="img/play.png" alt="play"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
