<div class="drop_menu">

    <div class="drop_menu-close">
        <a id="closemenu" href="#">&#10006;</a>
    </div>

    <div class="drop_menu-list">
        <ul>
            <li><a href="#">Item#1</a>
            </li>
            <li><a href="#">Item#2</a>
                <span class="clearfix">
                    <i class="fa fa-plus fa-inverse" aria-hidden="true"></i>
                </span>
            </li>
            <li><a href="#">Item#3</a>
            </li>
        </ul>
    </div>


</div>
