<div class="slide">
    <div class="slide_2">
        <div class="slide_2-slide">
            <div class="column">
                <div class="slide2_left">
                    <article class="slide2_article">
                        <div class="mic"></div>
                        <div class="clearfix"></div>
                        <h1>Website development</h1>
                        <p>Dummy text of the printing and
                            typesetting industry.</p>
                    </article>
                    <article class="slide2_article">
                        <div class="paper"></div>
                        <div class="clearfix"></div>
                        <h1>Website development</h1>
                        <p>Dummy text of the printing and
                            typesetting industry.</p>
                    </article>
                </div>
            </div>
            <div class="column">
                <div class="slide2_phone">
                    <div class="slide2_img">
                    <div class="slide2_img-1">
                        <a href="#"><img src="img/screen_2.png" alt="#"></a>
                    </div>
                    <div class="slide2_img-2">
                        <a href="#"><img src="img/screen_1.png" alt="#"></a>
                    </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="slide2_right">
                    <article class="slide2_article">
                        <div class="globe"></div>
                        <div class="clearfix"></div>
                        <h1>Website development</h1>
                        <p>Dummy text of the printing and
                            typesetting industry.</p>
                    </article>
                    <article class="slide2_article">
                        <div class="img"></div>
                        <div class="clearfix"></div>
                        <h1>Website development</h1>
                        <p>Dummy text of the printing and
                            typesetting industry.</p>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>