<div class="slide">
    <div class="slide_1">
        <div class="slide_1-slide">
            <div class="column">
                <div class="slide1_phone">
                    <div class="slide1_img">
                        <a href="#"><img src="img/phone.png" alt="#"></a>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="slide1_right">
                    <article class="slide1_article">
                        <h1>
                            Say Hello to New Music
                        </h1>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry. Lorem Ipsum has been the
                            ard dummy text ever since the 1500s.
                        </p>
                        <div class="slide1_button">
                            <button class="button" type="submit" value="Submit">
                                Download The App
                                <i class="fa fa-windows fa-inverse" aria-hidden="true"></i>
                            </button>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>