<div class="slide1 clearfix">

    <div class="slide1-photo">
        <a href="#"><img src="img/phone.png" alt="#"></a>
    </div>



    <article class="slide1-article">
        <h1>
            Say Hello to New Music
        </h1>
        <p>
            Lorem Ipsum is simply dummy text of the printing and
            typesetting industry. Lorem Ipsum has been the
            ard dummy text ever since the 1500s.
        </p>
        <div class="slide1-button">
            <button class="button" type="submit" value="Submit">
                Download The App
                <i class="fa fa-windows fa-inverse" aria-hidden="true"></i>
            </button>
        </div>
    </article>



</div>