<div class="slide2">

    <div class="slide2-left">
        <article class="slide2-article">
            <div class="mic"></div>
            <div class="clearfix"></div>
            <h1>Website development</h1>
            <p>Dummy text of the printing and
                typesetting industry.</p>
        </article>
        <article class="slide2-article">
            <div class="paper"></div>
            <div class="clearfix"></div>
            <h1>Website development</h1>
            <p>Dummy text of the printing and
                typesetting industry.</p>
        </article>
    </div>

    <div class="slide2-photo">
        <!--<div class="slide2-photo_position">-->
        <div class="slide2_img-1">
            <a href="#"><img src="img/screen_all.png" alt="#"></a>
        </div>
        <!--<div class="slide2_img-2">-->
            <!--<a href="#"><img src="img/screen_1.png" alt="#"></a>-->
        <!--</div>-->
        <!--</div>-->
    </div>


    <div class="slide2-right">
        <article class="slide2-article">
            <div class="globe"></div>
            <div class="clearfix"></div>
            <h1>Website development</h1>
            <p>Dummy text of the printing and
                typesetting industry.</p>
        </article>
        <article class="slide2-article">
            <div class="img"></div>
            <div class="clearfix"></div>
            <h1>Website development</h1>
            <p>Dummy text of the printing and
                typesetting industry.</p>
        </article>
    </div>

</div>