<div class="slide3">

    <article class="slide3-article">
        <h1>
            What Is Lorem Ipsum Being
            used for?
        </h1>
        <p>
            Lorem Ipsum is simply dummy text of the printing
            and typesetting industry. Lorem Ipsum has been the industry's
            standard dummy text ever since the 1500s, when an unknown printer took .
        </p>
    </article>

    <div class="slide3-photo">
        <a href="#"><img src="img/photo.png" alt="#" usemap="#play"></a>
    </div>

</div>
