* {
    font-family: Arial, sans-serif;
}
body{
    max-width: 910px;
    margin: 18px auto 0;
}
.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.header_phones{
    color: #5e696d;
    font-size: 18px;
    margin: 5px 0 0 6px;/* ровняю номера телефонов*/
}
.header_phones span {
    vertical-align: top;
}
.header_phones img {
    width: 22px;
    height: 22px;
    border-radius: 11px;
    background-color: #1f6786;
    background-image: linear-gradient(to top, #1f6789, #0c3357);
    /*background-image: url("../img/phone.png");*/
}
.header_avtoriz {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 495px;
    height: 25px;
    margin: 2px 0 0 11px; /* ровняем авторизацию*/
    font-size: 18px;
    background-color: #1f6786;
    background-image: linear-gradient(to top, #1f6789, #0c3357);
    border-radius: 4px;
    -webkit-box-shadow: 3px 3px 3px 0 rgba(150,150,150,1);
    -moz-box-shadow: 3px 3px 3px 0 rgba(150,150,150,1);
    box-shadow: 3px 3px 3px 0 rgba(150,150,150,1);
}
.header_avtoriz img {
    width: 14px;
    height: 18px;
    margin: 4px 0 0 6px;
}
.avtoriz_button {
    color: #fff;
    background-color: transparent;
    border: none;
    padding: 0 0 0 0;
    font-size: 11px;
    margin: 0 0 0 7px; /* подровнял "вход"*/
}
.avtoriz_button_1 {
    color: #fff;
    background-color: transparent;
    border: none;
    padding: 0 0 0 0;
    font-size: 11px;
    margin: -1px 0 0 25px; /* подровнял "вход"*/
}
.avtoriz_button_1:hover,
.avtoriz_button:hover {
    color: #bfbfbf;
    cursor: hand;
    text-decoration: underline;
}
.slesh {
    background-color: #fff;
    width: 1px;
    height: 10px;
    margin: 8px -2px 0 8px;
}
.header_avtoriz form {
    margin: 0 0 0 6px; /* подровнял формуавторизации */
}
.header_avtoriz input {
    width: 112px;
    height: 12px;
    border: 1px solid #9ba1a3;
    border-radius: 2px;
}
.header_navi {
    margin: -2px 0 0 0;
}
.header_banner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 909px;
    height: 237px;
    background-color: #000d1d;
    background-image: url("../img/banner.jpg");
    background-repeat: no-repeat;
    margin: 3px 0 6px 0;
}
.header_banner_zazor {
    width: 265px;
    height: 119px;
    background: linear-gradient(105deg, #000c19, #08233d);
    color: #cbcccc;
    text-align: right;
    line-height: 20px;
    margin: -18px 0 0 0;
}
.header_banner_zazor span {
    display: inline-block;
    margin: 39px 0 0 0;
    font-size: 34px;
}
.header_banner_zazor strong {
    font-size: 56px;
}
.header_banner_zazor p{
    color: #ac1400;
    font-size: 27px;
}
.menu {
    width: 910px;
    height: 33px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-image: url(../img/bgmenu.png);
    -webkit-box-shadow: 3px 3px 5px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 5px 0 rgba(0,0,0,0.75);
    box-shadow: 3px 3px 5px 0 rgba(0,0,0,0.75);
    border-radius: 3px/4px;
    color: #b1bcc0;
    text-decoration: none;
    font-size: 14px;
    margin: 0 auto;
}
.menu ul {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
    width: 535px;
    color: #b1bcc0;
    margin-right: 24px;
}
.menu li {
    line-height: 26px;
    margin-right: -2px;
    padding: 0 17px;
}
.menu a {
    color: inherit;
    text-decoration: inherit;
}
.menu li:hover {
    color: #ffffff;
    background-image: linear-gradient(to top, #0c3256, #206988);
    border-radius: 15px;
}
.menu span {
    color: #0d5a8f;
}
.menu_basket {
    font-size: 11px;
    color: #8a9296;
    line-height: 23px;
    margin: 0 11px 0 0;
    letter-spacing: 1px;
}
.menu_basket img {
    display: inline-block;
    vertical-align: text-top;
}
/* Поиск поавтомобилю*/
.search {
    display: flex;
    justify-content: center;
}
.search_auto {
    width: 412px;
    height: 134px;
    border: 1px solid #9c9c9d;
    font-family: Arial, sans-serif;
    font-size: 10px;
    text-align: center;
    -webkit-box-shadow: 5px 5px 5px 0 rgba(104,104,104,0.75);
    -moz-box-shadow: 5px 5px 5px 0 rgba(104,104,104,0.75);
    box-shadow: 5px 5px 5px 0 rgba(104,104,104,0.75);
    border-radius: 18px/16px;
}
.search_auto p {
    margin: 0;
    color: #000;
    font-size: 10px;
}
.search_auto_align>p {
    font-weight: 800;
    color: #154467;
    letter-spacing: 1px;
    font-size: 10px;
    text-indent: -6px;
}
.search_auto>p {
    font-weight: 800;
    color: #154467;
    letter-spacing: 1px;
    font-size: 11px;
    text-indent: -6px;
}
.search_auto_align .search_auto_align_right { /*Выровнял "Шины:"*/
    text-align: right;
}
.search_auto_align .search_auto_align_left { /*Выравниваем "Диски:"*/
    text-align: left;
    text-indent: 3px;
    margin-top: 2px;
}
.search_auto_align .search_auto_align_left_model {
    padding: 0 0 0 0; /*выровнял "Модель" повысоте*/
}
.select_podyear_lab .search_auto_align_left_god { /*выровнял "Год выпуска" повысоте*/
    padding: 2px 0 0 0;
}
.search_auto_1 { /* Див с 2мя колонками лейблов*/
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    height: 74%;
}
.search_auto_1 form {
    height: 100%;
    width: 175px;
    margin-top: -14px;
}
.search_auto_align {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.search_auto_align label div {
    line-height: 7px;
    padding: 6px 0 0 0;
    margin: 0 0 5px 0;
}
.search_auto_align label {
    display: flex;
    justify-content: space-between;
    text-align: left;
    top: 6px;
}
.search_auto span {
    color: #77858b;
    font-size: 9px;
}
.search_auto select {
    width: 102px;
    border: none;
    -webkit-box-shadow: inset 2px 2px 2px 0 rgba(104,104,104,0.75);
    -moz-box-shadow: inset 2px 2px 2px 0 rgba(104,104,104,0.75);
    box-shadow: inset 2px 2px 2px 0 rgba(104,104,104,0.75);
    border-radius: 1px;
    margin: 0 -2px 7px 0;
}
.search_auto_align  .select_podyear{
    width: 57px;
}
.search_auto_align .select_podyear_lab:after,
.search_auto_align  .select_podyear {
    margin-right: 43px;
}
.search_auto_align label {position: relative}
.search_auto_align label:after {
    content: url("../img/select.png");
    position: absolute;
    right: -3px;
    top: 1px;
    pointer-events:none;
    border-radius: 1px;
}
.search_auto_search,
.search_auto_search a {
    text-align: right;
    font-weight: 400;
    font-style: italic;
    font-size: 14px;
    color: #154467;
    margin: 0 15px;
    line-height: 40%;
}