.footer {
    margin: 0 auto;
    margin-top: 42px;
    margin-left: 103px;
}
.footer a {
    float: left;
    margin-left: 13px;
}
.boots {
    width: 908px;
    height: 100px;
    margin: 14px auto 0;
    background-color: #213a4d;
    border: 1px solid #242a3c;
    padding: 0 0 0 0;
    text-align: center;
}
.boots ul {
    margin: 0 auto;
}
.boots li {
    float: left;
    color: #bec6c9;
    text-decoration: none;
    font-size: 12px;
    margin: 0 0 0 0;
}
.boots li a {
    color: inherit;
    text-decoration: inherit;
    font-size: inherit;
}
.boots li span {
    margin: 0 12px 0 14px;
}
.boots a:hover {
    color: #52abcb;
}
.boots p {
    color: #7f4740;
    font-size: 10px;
    margin: 15px auto
}
.boots_ul {
    margin: 13px 0 0 307px;
}