@import "fonts.scss";
@import "variable_miximas.scss";

.slide1_article {
  color: $fonts-color-slide1;
  h1 {
    width: 100%;
    font-family: $font-SBook;
    font-size: 62px;
    line-height: 76px;
    //letter-spacing: 1px;
    font-weight: 500;
    padding: 154px 0 16px;
  }
  p {
    width: 80%;
    font-family: $font-ST;
    font-size: 16px;
    padding: 16px 0 26px 4px;
    line-height: 24px;
  }
}

.slide2_article {
  color: $fonts-color-slide1;
  h1 {
    font-family: $font-ST;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 28px 0 15px;
  }
  p {
    font-family: $font-s;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 1px;
    margin: 0 0 52px 0;
  }
}

.slide3_article {
  color: $fonts-color-slide1;
  h1 {
    width: 80%;
    font-family: $font-ST;
    font-size: 38px;
    font-weight: 500;
    line-height: 47px;
    padding: 130px 0 21px;
    letter-spacing: -1px;
    text-overflow: ellipsis;
  }
  p {
    font-family: $font-ST;
    font-size: 10px;
    line-height: 25px;
    width: 96%;
    text-overflow: ellipsis;

  }
}
