@import url(fontstyle.css);
.template { /* Вставка макета для проверки на идентичность*/
	position: absolute;
	background-color: transparent;
	opacity: 0.3;
	z-index: 1;
    left: 5px;
}
.background {
    /*margin: auto;!* выравниваем по центру вертикально и горизонтально*!*/
    /*max-width: 1215px;*/
    /*min-width: 1215px;*/
    /*max-height: 1064px;*/
    /*min-height: 1064px;*/
    background: #074e8c url("../img/bg.jpg") 0 0 no-repeat;
    background-size: cover;
}
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

/* top menu */
.top_menu {
    padding-right: 20px;
    background: url(../img/topmenuebg.jpg) repeat-x;
}
.top_menu li {
    float: right;
    display: inline-block;
    line-height: 36px;/* по высоте меню для центрирования текста*/
    font-size: 14px;
    text-decoration: none;
}
.left_buttons li {
    color: #60b5ed;
    letter-spacing: 0;
    /*padding: 0 10px;*/
    /*margin: 0 10px 0 0;*/
}
.left_buttons li a {
    display: block;
    padding: 0 20px;
}
.right_buttons li {
    color: #fefefe;
    letter-spacing: 0;
    padding: 0 10px;
    margin: 0 0 0 10px;
}
#alinks a {
    text-decoration: underline;
}
.left_buttons li:hover {
    background-color: #4eabda;
    color: #ffffff;
}
.right_buttons li:hover {
    background-color: #4eabda;
    color: #feffff;
}
a { /* блок а наследует параметры li*/
    color: inherit;
    text-decoration: inherit;
    font-size: inherit;
}
.delimiter li { /* выравниваем по вертикали разделитель в меню*/
    display: inline-block;
    height: 31px;
    border-left: 1px solid #56a2dc;
    margin: 2px 0 3px 0;
}
.flag a:before {/*флажек*/
    content: url("../img/inventicons29.png");
    float: left;
    margin: 0 10px -13px 10px;
}
/*.top_menu:after {/*убираем float
    content: '';
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}*/
/* end top menu */
/* Центральный блок */
.flexbox {
    clear: both;
    /*width: 100%;*/
    height: 1013px;
    padding-left: 25px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.cadastr {
    width: 560px;
    height: 613px;
}
.topcadastr {
    /*width: 100%;*/
    /*height: 62px;*/
    margin-bottom: 1px;
    font-size: 25px;
    color: #ffffff;
    /*line-height: 62px;*/
    text-align: center;
    padding: 20px 0;
}
.undercadastr {
    /*width: 100%;*/
    /*height: 550px;*/
    font-size: 12px;
    padding: 0 0 20px 0;
}
.topcadastr,
.undercadastr {
    background-color: rgba(0,0,0,0.63);
    text-align: center;
}
.ou {
    margin: 0 auto 28px;
    /*background: url("../img/ou.png") center top no-repeat;*/
    text-align: center;
    color: #999999;
    font-size: 14px;
}
.ou span {
    display: inline-block;
    margin: 0 5px;
    vertical-align: sub;
}
.ou:before,
.ou:after {
    content: url(../img/ou.png);
}
.logfacebook {
    padding: 37px 0 27px 0;
    text-align: center;
}
.facebook-link {
    margin: 0 auto;
    width: 276px;
    height: 35px;
    background: linear-gradient(to bottom, #3b5798, #3e5599);
    border-radius: 3px;
    text-align: left;
}
.facebook-link a {
    display: inline-block;
    width: 200px;
    height: 100%;
    padding-left: 30px;
    font-weight: 800;
    letter-spacing: 1px;
}
.facebook-link a span {
    font-weight: 300;
}

.f {
    font-size: 20px;
    vertical-align: sub;
    padding: 0 14px;
}
.line {
    display: inline-block;
    border-left: 1px solid #213b6c;
    border-right: 1px solid #4c64a2;
    height: 35px;
    vertical-align: middle;
}
/*Форма*/
form {
    width: 560px;
    align-content: center;
    /*display: flex;
    flex-flow: column wrap;*/
    font-size: 12px;
    color: #cccccc;
}
.noclass {
    margin: 0 auto 16px;
}

input {
    width: 266px;
    height: 35px;
    background-color: #101010;
    border: 0;
    border-bottom: 1px solid #484846;
    line-height: 20px;
    padding: 0 5px;
    text-indent: 13px;
}
input:focus {
    color: #ffffff;
    background-color: #1b5288;
    border: 0;
    border-bottom: 1px solid #689bcc;
    -webkit-box-shadow: 0 0 15px 2px rgba(68,127,170,1);
    -moz-box-shadow: 0 0 15px 2px rgba(68,127,170,1);
    box-shadow: 0 0 15px 2px rgba(68,127,170,1);
}
[type="checkbox"] {
    width: 15px;
    height: 15px;
    vertical-align: middle;
    margin: 6px 9px 6px -63px;
    cursor: pointer;
}
[type="submit"] {
    width: 149px;
    height: 35px;
    border-radius: 2px;
    color: #ffffff;
    background: linear-gradient(to bottom, #28539B, #193F7B);
    /*background-image: url("../img/button.png");*/
    font-size: 14px;
    text-indent: 1px;
    cursor: pointer;
}
.Byclicking {
    font-size: 11px;
    padding-top: 4px;
}