@font-face {
    font-family: 'OpenSans';
    src: url('fonts/OpenSans_Regular/OpenSans-Regular-webfont.eot');/* IE9 Compat Modes */
    src: url('fonts/OpenSans_Regular/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),/* IE6-IE8 */
        url('fonts/OpenSans_Regular/OpenSans-Regular-webfont.woff') format('woff'),/* Pretty Modern Browsers */
        url('fonts/OpenSans_Regular/OpenSans-Regular-webfont.ttf') format('truetype'),/* Safari, Android, iOS */
        url('fonts/OpenSans_Regular/OpenSans-Regular-webfont.svg#OpenSans') format('svg');/* Legacy iOS*/
}
@font-face {
    font-family:"LeagueGothic";
    src:url("fonts/LeagueGothic/League_Gothic.eot") format("eot");/* IE9 Compat Modes */
    src:url("fonts/LeagueGothic/League_Gothic.eot?#iefix") format("eot"),/* IE6-IE8 */
        url("fonts/LeagueGothic/League_Gothic.woff") format("woff"),/* Pretty Modern Browsers */
        url("fonts/LeagueGothic/League_Gothic.ttf") format("truetype"),/* Safari, Android, iOS */
        url("fonts/LeagueGothic/League_Gothic.svg#LeagueGothic") format("svg");/* Legacy iOS*/
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family: 'GeorgiaItalic';
    src: url("fonts/georgia/georgia italic.ttf") format("truetype");/* Safari, Android, iOS */
}