@media all and (max-width: 1080px) {
  .header {
    background: #fff;
    margin: 0;
    padding: 25px 20px;
  }
  .social_network {
    display: none;
  }
  .logo {
    width: 195px;
    height: 50px;
    float: left;
    .screen {
      display: none;
    }
    .mobile {
      display: inline-block;
    }
  }
  .menu {
    #openmenu {
      color: #000;
    }
  }
  .drop_menu {
    width: 100%;
  }
  .slide {
    width: 90%;
    min-width: 500px;
  }
  .slide_1-slide {
    width: 100%;
    text-align: center;
    h1 {
      max-width: 440px;
      width: 100%;
      text-align: center;
      padding: 154px 0 16px;
      margin: auto;
    }
    p {
      width: 100%;
      max-width: 480px;
      text-align: center;
      font-size: 16px;
      line-height: 24px;
      padding: 16px 0 26px 0;
      margin: auto;
    }
    .column {
      width: 70%;
    }
    .column:first-child {
      display: none;
    }
  }
  .slide1-button {
    text-align: center;
  }
  .slide_2-slide {
    width: 100%;
    .column {
      display: none;
    }
  }
  .slide_3-slide {
    display: none;
  }
    .mobile {
      display: block;
      clear: both;
      text-align: center;
      .mic,
      .paper,
      .globe,
      .img {
        width: 66px;
        height: 66px;
        float: none;
        margin: auto;
      }
    }
}