@font-face {font-family: MyriadPro-regular;
  src: url("fonts/MyriadPro/MyriadPro-regular.eot"); /* IE9*/
  src: url("fonts/MyriadPro/MyriadPro-regular.woff") format("woff"), /* chrome、firefox */
       url("fonts/MyriadPro/MyriadPro-regular.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
       url("fonts/MyriadPro/MyriadPro-regular.svg#MyriadPro-Cond") format("svg"); /* iOS 4.1- */
}
@font-face {font-family: "Zurich BT";
  src: url("fonts/Zurich BT/Zurich BT.eot"); /* IE9*/
  src: url("fonts/Zurich BT/Zurich BT.woff") format("woff"), /* chrome、firefox */
       url("fonts/Zurich BT/Zurich BT.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
       url("fonts/Zurich BT/Zurich BT.svg#Zurich BT") format("svg"); /* iOS 4.1- */
}
@font-face {font-family: KlavikaMedium-Plain;
  src: url("fonts/KlavikaMedium-Plain/KlavikaMedium-Plain.eot"); /* IE9*/
  src: url("fonts/KlavikaMedium-Plain/KlavikaMedium-Plain.woff") format("woff"), /* chrome、firefox */
  url("fonts/KlavikaMedium-Plain/KlavikaMedium-Plain.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("fonts/KlavikaMedium-Plain/KlavikaMedium-Plain.svg#Zurich BT") format("svg"); /* iOS 4.1- */
}

$MyriadPro-regular: MyriadPro-regular, Arial, san-serif;
$ZurichBT: "Zurich BT", Arial, san-serif;
$KlavikaMediumPlain: KlavikaMedium-Plain, Arial, san-serif;
$Arial: Arial, sans-serif;

$bgcolor: #ece6d6;

@mixin border-radius($rad) {
  -webkit-border-radius: $rad;
  -moz-border-radius: $rad;
  border-radius: $rad;
  behavior: url(pie/PIE.htc);
}
@mixin bg-gradient($colorBottom, $colorTop) {
  background: $colorTop;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from($colorTop), to($colorBottom));
  background: -webkit-linear-gradient($colorTop, $colorBottom);
  background: -moz-linear-gradient($colorTop, $colorBottom);
  background: -ms-linear-gradient($colorTop, $colorBottom);
  background: -o-linear-gradient($colorTop, $colorBottom);
  background: linear-gradient($colorTop, $colorBottom);
  //-pie-background: linear-gradient($colorTop, $colorBottom);
  behavior: url(pie/PIE.htc);
}
@mixin shadow($color, $x, $y, $blur) {
  -webkit-box-shadow: $color $x $y $blur;
  -moz-box-shadow: $color $x $y $blur;
  box-shadow: $color $x $y $blur;
  behavior: url(pie/PIE.htc);
}
/*#005c13 0px -2px 0px;*/

.clearfix:after {
  content: "";
  //visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

html {
  min-height: 100%;
  position: relative;
}
body {
  //background-color: $bgcolor;
  background: $bgcolor url("../img/bg.jpg") no-repeat top center;
  min-height: 100%;
  font-family: Arial, sans-serif;
}
.wrapper {
  max-width: 990px;
  margin: 0 auto 100px;
}
/* Стили для шапки */
header {
  padding: 14px 0 0 0;
}
.header-logo {
  float: left;
  margin: 6px 0 0 26px;
}
.header-right {
  float: right;
  text-align: right;
  p {
    color: #373737;
    font-family: $MyriadPro-regular;
  }
  span {
    font-family: $MyriadPro-regular;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 2px;
  }
}
.header-right__nav {
  li {
    display: inline-block;
    margin: 0 0 0 8px;
  }
  color: #209a28;
  font-family: $MyriadPro-regular;
  font-size: 14px;
  text-transform: uppercase;
  margin: 15px 0 0 0;
  letter-spacing: 1.5px;

  /* Base text style */


  li:hover {
    font-weight: 900;
    margin: 0 0 0 7px;
  }
}
.header-nav {
  @include border-radius(5px);
  //@include bg-gradient(#0f941a, #65c13e);
  box-shadow: inset 2px 2.2px 0 #81de41;
  border: 1px solid #0c932f;
  background: url("../img/navbg.jpg") repeat-x;
  //color: #fff;
  //font-family: $ZurichBT;
  //font-size: 12px;
  text-align: left;
  margin: 20px 0 0 0;
  padding: 2px 0 0 0;


  /* Base text style */
  text-shadow: 0 -2px 0 rgba(0, 92, 19, 0.63);
  color: white;
  font-family: $ZurichBT;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;

  li {
    display: inline-block;
    margin: 0 17px 0 21px;
  }
  a {
    display: inline-block;
    padding: 12px 5px;
  }
  a:hover {
    color: black;
  }
}
/* end Стили для шапки */

.home {
  color: #14961c;
  font-family: Arial, sans-serif;
  font-size: 12px;
  margin: 13px 0 0 23px;
}

.content-wrapper {
  background: #f4f2ec;
  margin: 10px 0 0 2px;
}

.main-content {
  padding: 18px 0 31px 17px;
  height: 100%;
  overflow: hidden;
  background: #fff;
  font-family: $ZurichBT;
  @include border-radius(5px);
}
.bttxt {
  position: relative;
  margin: -32px 0 0 0;
  h1 {
    color: #444137;
    font-family: $ZurichBT;
    font-size: 23px;
    font-weight: 400;
    text-transform: uppercase;

  }
  p {
    margin: 11px 0 23px 0;
    width: 416px;
    height: 33px;
    //font-family: Arial, sans-serif;
    //font-size: 12px;
    //line-height: 16px;
    //color: #595447;
    //font-weight: 400;
    //letter-spacing: 1px;

    font-family: $Arial;
    font-size: 12px;
    line-height: 20px;
    color: #595447;
    font-weight: 400;
    word-spacing: -1px;
  }
   a {
     color: #28b028;
     font-weight: 700;
     text-decoration: underline;
   }
  img {
    position: absolute;
    right: 62px;
    bottom: -38px;
    z-index: 200;
  }
}
/* Стили для banners -------------------------------------------------------------*/
.main-content__banner {
  position: relative;
}
.banner-pager {
  padding: 10px 15px 0 18px;
  position: absolute;
  top: 0;
  right: 16px;
  width: 202px;
  height: 255px;
  //background: url(../img/banerpanel.png);
  background: rgba(37,29,20, 0.9);
  -webkit-border-radius: 0 10px 10px 0;
  -moz-border-radius: 0 10px 10px 0;
  border-radius: 0 10px 10px 0;
  behavior: url(pie/PIE.htc);
  z-index: 100;
  h1 {
    line-height: 32px;
    color: #28b028;
    font-size: 28px;
    font-family: $ZurichBT;
    span {
      font-size: 18px;
      color: #fff;
    }
  }
  p {
    margin: 12px 0 0 0;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 12px;
    line-height: 18px;
    word-spacing: -1px;
    span {
      color: #28b028;
    }
  }
  .banner-pager__View {
    margin: 0 0 22px 0;
  }
}
.banner-panel {
}
/* end Стили для banners ---------------------------------------*/

/* Стили для формы справа --------------------------------------*/
.right-form {
  padding: 20px 10px 0 25px;
  width: 215px;
  float: right;
  color: #3f3b30;
  .holidaysearch {
    h1 {
      /* Base text style */
      //width: 103px;
      //height: 10px;
      color: #3f3b30;
      font-family: $MyriadPro-regular;
      font-size: 16px;
      font-weight: 400;
      text-transform: uppercase;
    }
    h2 {
      /* Base text style */
      //width: 162px;
      //height: 12px;
      color: #3f3b30;
      font-family: $Arial;
      font-size: 12px;
      font-weight: 400;
      margin: 7px 0 15px 0;
    }
    select {
      position: relative;
      display: block;
      width: 199px;
      height: 25px;
      border: 1px solid #cfcdc5;
      box-shadow: inset 0 -2px 0 white, 0 0 0 3px #e8e5de;
      @include bg-gradient(#f4f3f1, white);
      @include border-radius(5px);
      margin-bottom: 18px;
      text-indent: 5px;
      &:after { /* добавляю свою стрелочку для выпадающего списка label*/
        content: url("../img/select.png");
        position: absolute;
        right: 0;
        top: 1px;
        pointer-events: none; /* опускает картинку на заднийплан */
        //border-radius: 1px;
      }
    }


    /*своистрелочки дляселектов*/
    .label {
      width: 100%;
    }
    .par_search { /* блок с label+select */
      //width: 179px; /* расстояние между label и select*/
      position: relative; /* для правильного отображения селектора .parametr_serch label:after */
    }
    .par_search .label:after { /* добавляю свою стрелочку для выпадающего списка label*/
      content: url("../img/select.jpg");
      position: absolute;
      right: 19px;
      top: 3px;
      pointer-events: none; /* опускает картинку на заднийплан */
      border-radius: 1px;
      z-index: 200;
    }
    /*endсвоистрелочки дляселектов*/

    [type='submit'] {
      width: 202px;
      height: 42px;
      border: none;
      background: url("../img/searchhollidays.png") no-repeat;
      text-shadow: 0 -2px 0 rgba(0, 92, 19, 0.63);
      color: white;
      font-family: $KlavikaMediumPlain;
      font-size: 15px;
      text-transform: uppercase;
      text-indent: -39px;
      //text-align: center;
      &:hover {
        cursor: pointer;
      }
    }
    .holidaysearch__submit {
      position: relative;
      margin: -3px 0 19px 0;
      img {
        position: absolute;
        top: 13px;
        left: 157px;
      }
    }
  }
  .quicksearch {
    margin: 0 0 24px 0;
    h1 {
      /* Base text style */
      //width: 87px;
      //height: 12px;
      color: #3f3b30;
      font-family: $MyriadPro-regular;
      font-size: 16px;
      font-weight: 400;
      text-transform: uppercase;
    }
    h2 {
      /* Base text style */
      //width: 150px;
      //height: 12px;
      color: #3f3b30;
      font-family: $Arial;
      font-size: 12px;
      font-weight: 400;
      margin: 7px 0 13px 0;
    }
    [type='search'] {
      width: 118px;
      height: 25px;
      background-color: white;
      @include bg-gradient(#f4f3f1, white);
      border: 1px solid #cfcdc5;
      border-radius: 5px;
      box-shadow: inset 0 -2px 0 white, 0 0 0 3px #e8e5de;
      font-family: $Arial;
      font-size: 11px;
      font-weight: 400;
      line-height: 20px;
      text-indent: 7px;
    }
    [type='submit'] {
      width: 66px;
      height: 25px;
      background-color: #43ac2d;
      //@include bg-gradient(#0f941a, #66c13e);
      background: url("../img/bgsubmit.jpg") repeat-x;
      border: 1px solid #0c932f;
      @include border-radius(5px);
      box-shadow: inset 2px 2.2px 0 #81de41, 0 0 0 3px #d8d5cc;
      text-shadow: 0 -2px 0 rgba(0, 92, 19, 0.63);
      color: white;
      font-family: $KlavikaMediumPlain;
      font-size: 14px;
      text-transform: uppercase;
      margin: 0 0 0 8px;
      //text-indent: 4px;
      text-align: center;
      &:hover {
        cursor: pointer;
      }
    }
  }
    .line {
      width: 250px;
      height: 1px;
      background-color: #e1dbce;
      box-shadow: 0.5px 0.9px 0 white;
      margin: 0 0 0 -25px;
    }
  .newslettersignup {
    margin: 22px 0 24px 0;
    h1 {
      /* Base text style */
      //width: 124px;
      //height: 10px;
      color: #3f3b30;
      font-family: $MyriadPro-regular;
      font-size: 16px;
      font-weight: 400;
      text-transform: uppercase;
    }
    h2 {
      /* Base text style */
      //width: 165px;
      //height: 30px;
      color: #3f3b30;
      font-family: $Arial;
      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
      margin: 3px 0 15px 0;
    }
    [type="email"] {
      /* Style for "Shape 5 co" */
      width: 198px;
      height: 22px;
      @include bg-gradient(#f4f3f1, white);
      border: 1px solid #cfcdc5;
      border-radius: 5px;
      box-shadow: inset 0 -2px 0 white, 0 0 0 3px #e8e5de;
      /* Base text style */
      font-family: $Arial;
      font-size: 11px;
      font-weight: 400;
      line-height: 20px;
      margin: 0 0 13px 0;
      //text-indent: 7px;
      text-indent: 7px;
    }
    .input-name {
      /* Style for "Shape 5 co" */
      width: 118px;
      height: 22px;
      @include bg-gradient(#f4f3f1, white);
      border: 1px solid #cfcdc5;
      border-radius: 5px;
      box-shadow: inset 0 -2px 0 white, 0 0 0 3px #e8e5de;
      font-family: $Arial;
      font-size: 11px;
      font-weight: 400;
      line-height: 20px;
      text-indent: 7px;
    }
    [type="submit"] {
      /* Style for "Shape 1 co" */
      width: 66px;
      height: 25px;
      background-color: #43ac2d;
      //@include bg-gradient(#0f941a, #66c13e);
      background: url("../img/bgsubmit.jpg") repeat-x;
      @include border-radius(5px);
      border: 1px solid #0c932f;
      box-shadow: inset 2px 2.2px 0 #81de41, 0 0 0 3px #d8d5cc;
      text-shadow: 0 -2px 0 rgba(0, 92, 19, 0.63);
      color: white;
      font-family: $KlavikaMediumPlain;
      font-size: 14px;
      text-transform: uppercase;
      margin: 0 0 0 8px;
      //text-indent: 4px;
    }
  }
}
.right-form__news {
  margin: 19px 0 0 0;
  h1 {
    color: #3f3b30;
    font-family: $MyriadPro-regular;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
  }
  article {
      color: #3f3b30;
      font-family: $Arial;
      font-size: 12px;
      line-height: 18px;
    h2 {
      margin: 7px 0 0 0;
      font-weight: 700;
    }
    p {
      margin: 0 0 18px 0;
      font-weight: 400;
    }
  }
}
/* end Стили для формы справа ----------------------------------*/


/* Стили для табов ---------------------------------------------*/
.tabs {
  position: relative;
  //margin: 0 auto;
  //width: 95%;
}
.tabs  {
  label {
    color: #444137;
    cursor: pointer;
    display: block;
    overflow: hidden;
    float: left;
    width: 32.4%;
    height: 36px;
    line-height: 38px;
    position: relative;
    //top: 2px;
    text-align: center;
    border: 1px solid #cfcdc5;
    @include bg-gradient(#f4f3f1, #fff);
    /* миксины неиспользовал для поддержки ИЕ9+*/
    -webkit-box-shadow: inset 0 -2px 0 0 rgba(255, 255, 255, 1);
    -moz-box-shadow: inset  -2px 0 0 rgba(255, 255, 255, 1);
    box-shadow: inset 0 -2px 0 0 rgba(255, 255, 255, 1);
    behavior: url(pie/PIE.htc);

    /* Base text style */
    //width: 98px;
    //height: 17px;
    //text-shadow: 0 -2px 0 rgba(0, 92, 19, 0.63);
    //color: white;
    //font-family: $ZurichBT;
    //font-size: 18px;
    //font-weight: 400;
    //line-height: 20px;
  }
  /* миксины неиспользовал для закругления части углов*/
  #tab_l1 {
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
    behavior: url(pie/PIE.htc);
  }
  #tab_l3 {
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
    behavior: url(pie/PIE.htc);
  }
}



/* Стрелочки на CSS -----------------------------------------------------*/
.arrow-right,
.arrow-bottom {
  position: absolute;
  width: 0;
  height: 0;
  border: 4px solid transparent;
  z-index: 10;
}
.arrow-right {
  top: 18px;
  border-left-color: #0f941a;
  border-right: 0;
}
.arrow-bottom {
  top: 40px;
  border-top-color: #0f941a;
  border-bottom: 0;
  display: none;
}

#arrow-right__1  {left:  6.5%;}
#arrow-right__2  {left: 41%;}
#arrow-right__3  {left: 73%;}
#arrow-bottom__1 {left: 14%;}
#arrow-bottom__2 {left: 44%;}
#arrow-bottom__3 {left: 74%;}

.tabs input {
  position: absolute;
  left: -9999px;
}

#tab_1:checked ~ #arrow-right__1,
#tab_2:checked ~ #arrow-right__2,
#tab_3:checked ~ #arrow-right__3 {
  display: none;
}
#tab_1:checked ~ #arrow-bottom__1,
#tab_2:checked ~ #arrow-bottom__2,
#tab_3:checked ~ #arrow-bottom__3 {
  display: block;
}
/* end Стрелочки на CSS ---------------------------------------------------*/

#tab_1:checked ~ #tab_l1,
#tab_2:checked ~ #tab_l2,
#tab_3:checked ~ #tab_l3 {

  /* Base text style */
  text-shadow: 0 -2px 0 rgba(0, 92, 19, 0.63);
  font-family: $ZurichBT;
  font-size: 18px;
  font-weight: 400;
  //line-height: 34px;
  color: #fff;
  //@include bg-gradient(#0f941a, #65c13e);
  background: url("../img/tabbg.jpg") repeat-x;
  border: 1px solid #0c932f;
  box-shadow: none;
  //top: 2px;
  z-index: 3;
}
.tabs_cont {
  font-size: 14px;
  width: 100%;
  color: #3a3731;
  //background: #fff;
  position: relative;
  z-index: 2;
  //height: 230px;
  //text-align: center;
  article {
    margin: 23px 2.7% -2px 0.2%;
    width: 30%;
    display: inline-block;
    vertical-align: top;
  }
  h1 {
    margin: 8px 0 6px 0;
  }
  p {
    font-family: $Arial;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
  }
}
.tabs_cont > div {
  position: absolute;
  left: -9999px;
  top: 0;
  opacity: 0;
  -moz-transition: opacity .5s ease-in-out;
  -webkit-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
}

#tab_1:checked ~ .tabs_cont #tab_c1,
#tab_2:checked ~ .tabs_cont #tab_c2,
#tab_3:checked ~ .tabs_cont #tab_c3 {
  position: static;
  left: 0;
  opacity: 1;
}
/* end Стили для табов -----------------------------------------------------------*/


/*Стили для нижнего блока----------------------------------------------------------*/
.fbar {
  background: #f4f2ec;
  text-align: center;
  margin: 20px 0 0 0;
  padding: 0 0 19px 0;
}
.fbar-head {
  //@include bg-gradient(#635543, #979286);
  background: url("../img/fbarbg.jpg") repeat-x;
  border-radius: 5px 5px 0 0;
  border-bottom: 2px solid #635543;
  text-shadow: 0.5px 0.9px 0 rgba(0, 0, 0, 0.75);
  color: white;
  font-family: $Arial;
  font-size: 15px;
  font-style: italic;
  line-height: 18px;
  padding: 13px 0 10px 0;
  margin: 0 0 21px 0;
}
.vertical-line {
  float: left;
  width: 1px;
  height: 118px;
  background-color: #cfcdc5;
  box-shadow: 1px 0 0 rgba(255, 255, 255, 0.75);
}
.fbar-left,
.fbar-center,
.fbar-right {
  width: 30%;
  display: inline-block;
  h1 {
    color: #64522a;
    font-family: $KlavikaMediumPlain;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
  }
}
.fbar-left {
  width: 200px;
  float: left;
  color: #757268;
  font-family: $Arial;
  font-weight: 400;
  line-height: 18px;
  font-size: 11px;
  text-align: left;
  margin: 0 19px 0 29px;
  h1 {
    img {
      margin: 0 0 0 5px;
      vertical-align: middle;
    }
  }
  p {
    margin: 4px 0 12px 0;
    word-spacing: 4px;
  }
  a {
    display: block;
    margin: 0 0 0 -7px;
  }

}
.fbar-center {
  width: 490px;
  text-align: left;
  ul {
    width: 130px;
    float: left;
    margin: 6px 24px 0 0;
  }
  ul:nth-child(2) {
    margin-right: 39px;
  }
  li {
    color: #757268;
    font-family: $Arial;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
  }
}
.fbar-right {
  width: 200px;
  float: right;
  text-align: left;
  h1 {
    margin: 0 0 6px 0;
  }
  p {
    color: #757268;
    font-family: $Arial;
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    margin: 1px 0 1px 3px;
    span {
      font-weight: 700;
    }
  }
}
/*end Стили для нижнего блока------------------------------------------------------*/
footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 49px 0;
  text-align: center;
  font-family: $Arial;
  font-size: 11px;
  line-height: 18px;
  h1 {
  color: #3a3731;
  font-weight: 700;
  }
  p {
  color: #716c61;
  font-weight: 400;
  }
}
