@font-face {
    font-family: 'SolomonSansNormal';
    src: url('../fonts/SolomonSansNormal.otf');
}
@font-face {
    font-family: 'SolomonSansBook';
    src: url('../fonts/SolomonSansBook.otf');
}@font-face {
    font-family: 'SolomonSansSemiBold';
    src: url('../fonts/SolomonSansSemiBold.otf');
}