@import "fonts.css";

$font: Arial, sans-serif;
$font-SSN: SolomonSansNormal, Arial, sans-serif;
$font-SSB: SolomonSansBook, Arial, sans-serif;
$font-SSSB: SolomonSansSemiBold, "Times New Roman", serif;


$fonts-color-slide1: #fff;

$bg-color-slide1: #6358c0;
$bg-color-slide2: #61acec;
$bg-color-slide3: #68a780;

$btn-color-slide1: #61acec;

@mixin border-radius($rad) {
  -moz-border-radius: ($rad);
  -webkit-border-radius: ($rad);
  -ms-border-radius: ($rad);
  border-radius: ($rad);
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

.wrapper {
  width: 100%;
  max-width: 1920px;
  background: $bg-color-slide1;
}

.social_network {
  display: inline-block;
  width: 10%;
  text-align: left;
  padding: 0 0 0 2.4%;
  li {
    float: left;
    padding: 16px 9px 0 0;
  }
}
.logo {
  //display: inline-block;
  width: 97px;
  height: 25px;
  text-align: center;
  margin: -25px auto 0;
}
.menu {
  display: inline-block;
  float: right;
  width: 10%;
  text-align: right;
  margin: 18px 2.6% 0 0;
}

//slide1
.slide1 {
  padding: 84px 0 101px 0;
  display: none;
}
.slide1_phone {
  display: inline-block;
  float: left;
  width: 20.26%;
  max-width: 389px;
  img {
    width: 100%;
  }
  margin: 0 0 0 23.8%;
}
.slide1_article {
  display: inline-block;
  //width: 28%;
  max-width: 500px;
  color: $fonts-color-slide1;
  padding: 90px 0 0 6.5%;
  h1 {
    width: 100%;
    font-family: $font-SSB;
    font-size: 34px;
    line-height: 46px;
    letter-spacing: 1px;
  }
  p {
    width: 80%;
    font-family: $font-SSN;
    font-size: 12px;
    padding: 19px 0 17px 0;
  }
}

.button:hover {
  cursor: pointer;
}
.button {
  width: 46%;
  min-width: 160px;
  height: 10%;
  background: $btn-color-slide1;
  color: $fonts-color-slide1;
  text-align: center;
  font-size: 16px;
  line-height: 200%;
  padding: 0 1.5%;
}
.controls {
  position: absolute;
  right: 2%;
  top: 300px;
  text-align: center;
}
.controls_1,
.controls_2,
.controls_3 {
  display: inline-block;
  width: 8px;
  height: 8px;
  @include border-radius(6px);
}
.controls_1 {
  border: 2px solid #fff;
}
.controls_2 {
  background: rgba(255, 255, 255, 0.5);
}
.controls_3 {
  background: rgba(255, 255, 255, 0.5);
}

//slide2
.slide2 {
  max-width: 1060px;
  margin: auto;
  padding: 198px 0 326px;
  article {
    border: 1px solid blue;
  }
  div {
    border: 1px solid red;
  }
}
.slide2_left {
  width: 26%;
  height: 500px;
  float: left;
  padding-top: 96px;
  .slide2_article {
    h1,
    p {
      text-align: right;
    }
  }
}

.slide2_phone {
  width: 45%;
  height: 500px;
  float: left;
  margin: 0 1%;
  //width: 42.8%;
  //max-width: 454px;
  //img {
  //  width: 100%;
  //}
}
.slide2_right {
  width: 26%;
  height: 500px;
  float: right;
  padding-top: 96px;
}
.slide2_article {
  display: inline-block;
  color: $fonts-color-slide1;
  //padding: 90px 0 0 6.5%;
  h1 {
    //width: 100%;
    font-family: 'Times New Roman', $font-SSSB;
    font-size: 14px;
    //line-height: 46px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-top: 30px;
  }
  p {
    //width: 80%;
    font-family: $font-SSN;
    font-size: 12px;
    padding: 19px 0 17px 0;
  }
}
.mic,
.paper,
.globe,
.img {
  width: 66px;
  height: 66px;
  background: url("../img/sprites_slide2.png") no-repeat;
}
.mic {
  background-position-y: 0;
  float: right;
}
.paper {
  background-position-y: -86px;
  float: right;
}
.globe {
  background-position-y: -170px;
}
.img {
  background-position-y: -254px;
}
