@import url(fonts.css);
.clearfix:after {
  content: '';
  display: block;
  clear: both; }

.wrapper {
  position: relative;
  width: 100%;
  max-width: 1920px;
  max-height: 1080px;
  clear: both;
  background: #6358c0; }

.social_network {
  float: left;
  text-align: left;
  padding-left: 40px; }
  .social_network li {
    display: inline-block;
    padding: 16px 9px 0 0; }

.logo {
  width: 97px;
  height: 25px;
  margin: 0 auto 0; }

.menu {
  float: right;
  padding: 18px 2.6% 0 0; }

.slide1 {
  width: 1081px;
  margin: auto; }

.slide1_phone {
  float: left;
  width: 36%;
  margin: 0 0 0 36px; }

.slide1_img {
  max-width: 389px; }
  .slide1_img img {
    width: 100%; }

.slide1_right {
  float: right;
  width: 49.5%; }

.slide1_article {
  color: #fff; }
  .slide1_article h1 {
    width: 100%;
    font-family: SolomonBook, Arial, sans-serif;
    font-size: 60px;
    line-height: 76px;
    letter-spacing: 1px;
    font-weight: 500;
    padding: 150px 0 16px 0; }
  .slide1_article p {
    width: 80%;
    font-family: SolomonNormal, Arial, sans-serif;
    font-size: 18px;
    padding: 16px 0 49px 4px;
    line-height: 24px; }

.button:hover {
  cursor: pointer; }

.button {
  width: 255px;
  background: #61acec;
  color: #fff;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 62px;
  margin: 0 0 0 4px; }

.slide2 {
  width: 1081px;
  margin: auto; }

.slide2_left {
  float: left;
  width: 25.9%;
  margin-top: 85px; }
  .slide2_left h1, .slide2_left p {
    text-align: right; }
  .slide2_left p {
    padding: 0 0 48px 20px; }

.slide2_right {
  float: right;
  width: 27.1%;
  margin-top: 85px; }
  .slide2_right p {
    padding: 0 24px 48px 0; }

.slide2_phone {
  max-width: 454px;
  margin: auto; }
  .slide2_phone img {
    width: 100%; }

.slide2_img {
  margin: -11px 0 0 -1%; }

.slide2_article {
  color: #fff; }
  .slide2_article h1 {
    font-family: "Times New Roman", serif;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 28px 0 18px; }
  .slide2_article p {
    font-family: SolomonNormal, Arial, sans-serif;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 1px; }

.mic,
.paper,
.globe,
.img {
  width: 66px;
  height: 66px;
  background: url("../img/sprites_slide2.png") no-repeat; }

.mic {
  float: right;
  background-position-y: 0; }

.paper {
  float: right;
  background-position-y: -86px; }

.globe {
  float: left;
  background-position-y: -170px; }

.img {
  float: left;
  background-position-y: -254px;
  margin-left: 5px; }

.slide3 {
  width: 1081px;
  margin: auto; }

.slide3_left {
  position: relative;
  max-width: 400px;
  margin: 0 0 0 39px; }

.slide3_video {
  float: right;
  max-width: 593px;
  margin: 0 -56px 0 0; }
  .slide3_video img {
    width: 100%; }

.slide3_article {
  position: absolute;
  width: 590px;
  color: #fff; }
  .slide3_article h1 {
    width: 80%;
    font-family: "Times New Roman", serif;
    font-size: 38px;
    font-weight: 500;
    line-height: 44px;
    padding: 130px 0 25px 0; }
  .slide3_article p {
    font-family: SolomonNormal, Arial, sans-serif;
    font-size: 10px;
    line-height: 24px;
    letter-spacing: 1px; }

.button:hover {
  cursor: pointer; }

.button {
  width: 255px;
  background: #61acec;
  color: #fff;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 62px;
  margin: 0 0 0 4px; }

.controls {
  position: absolute;
  top: 400px; }
  .controls a {
    display: block;
    width: 6px;
    height: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -ms-border-radius: 6px;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.5); }

.slide1,
.slide2,
.slide3 {
  min-height: 800px; }
