@import "fonts.css";

$font-ss: Arial, sans-serif;
$font-s: "Times New Roman", serif;

$font-SN: SolomonNormal, Arial, sans-serif;
$font-SBol: SolomonBold, Arial, sans-serif;
$font-SBook: SolomonBook, Arial, sans-serif;
$font-SL: SolomonLight, Arial, sans-serif;
$font-ST: SolomonThin, Arial, sans-serif;

$fonts-color-slide1: #fff;

$bg-color-slide1: #6358c0;
$bg-color-slide2: #61acec;
$bg-color-slide3: #68a780;

$btn-color-slide1: #61acec;

@mixin border-radius($rad) {
  -moz-border-radius: ($rad);
  -webkit-border-radius: ($rad);
  -ms-border-radius: ($rad);
  border-radius: ($rad);
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 1920px;
  max-height: 1080px;
  clear: both;
  background: $bg-color-slide1;
}

  //header
.social_network {
  float: left;
  text-align: left;
  padding-left: 40px;
  li {
    display: inline-block;
    padding: 16px 9px 0 0;
  }
}
.logo {
  width: 97px;
  height: 25px;
  margin: 0 auto 0;
}
.menu {
  float: right;
  padding: 18px 2.6% 0 0;
}

//slide1
.slide1 {
  width: 1081px;
  margin: auto;
  //padding: 132px 0 230px;
  //display: none;
}
.slide1_phone {
  float: left;
  width: 36%;
  //height: 300px;
  margin: 0 0 0 36px;
}
.slide1_img {
  max-width: 389px;
  img {
    width: 100%;
  }
}
.slide1_right {
  float: right;
  width: 49.5%;
}
.slide1_article {
  color: $fonts-color-slide1;
  h1 {
    width: 100%;
    font-family: $font-SBook;
    font-size: 60px;
    line-height: 76px;
    letter-spacing: 1px;
    font-weight: 500;
    padding: 150px 0 16px 0;
  }
  p {
    width: 80%;
    font-family: $font-SN;
    font-size: 18px;
    padding: 16px 0 49px 4px;
    line-height: 24px;
  }
}
.button:hover {
  cursor: pointer;
}
.button {
  width: 255px;
  background: #61acec;
  color: #fff;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 62px;
  margin: 0 0 0 4px;
}

//slide2
.slide2 {
  //display: none;
  width: 1081px;
  margin: auto;
  //padding: 198px 0 230px;
}
.slide2_left {
  float: left;
  width: 25.9%;
  margin-top: 85px;
  h1, p {
      text-align: right;
  }
  p {
    padding: 0 0 48px 20px;
  }
}
.slide2_right {
  float: right;
  width: 27.1%;
  margin-top: 85px;
  p {
    padding: 0 24px 48px 0;
  }

}
.slide2_phone {
  max-width: 454px;
  margin: auto;
  img {
    width: 100%;
  }
}
.slide2_img {
  margin: -11px 0 0 -1%;
}
.slide2_article {
  color: $fonts-color-slide1;
  h1 {
    font-family: $font-s;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 28px 0 18px;
  }
  p {
    font-family: $font-SN;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 1px;
  }
}
.mic,
.paper,
.globe,
.img {
  width: 66px;
  height: 66px;
  background: url("../img/sprites_slide2.png") no-repeat;
}
.mic {
  float: right;
  background-position-y: 0;
}
.paper {
  float: right;
  background-position-y: -86px;
}
.globe {
  float: left;
  background-position-y: -170px;
}
.img {
  float: left;
  background-position-y: -254px;
  margin-left: 5px;
}

//slide 3
div,
article {
  //border: 1px solid red;

}
.slide3 {
  width: 1081px;
  margin: auto;
  //padding: 238px 0 277px;
  //display: none;
}
.slide3_left {
  position: relative;
  max-width: 400px;
  margin: 0 0 0 39px;
}
.slide3_video {
  float: right;
  max-width: 593px;
  margin: 0 -56px 0 0;
  img {
    width: 100%;
  }
}
.slide3_article {
  position: absolute;
  width: 590px;
  color: $fonts-color-slide1;
  h1 {
    width: 80%;
    font-family: $font-s;
    font-size: 38px;
    font-weight: 500;
    line-height: 44px;
    padding: 130px 0 25px 0;
  }
  p {
    font-family: $font-SN;
    font-size: 10px;
    line-height: 24px;
    letter-spacing: 1px;
  }
}

//button
.button:hover {
  cursor: pointer;
}
.button {
  width: 255px;
  background: #61acec;
  color: #fff;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 62px;
  margin: 0 0 0 4px;
}

//controls
.controls {
  position: absolute;
  top: 400px;
  a {
    display: block;
    width: 6px;
    height: 6px;
    @include border-radius(6px);
    background: rgba(255, 255, 255, 0.5);
  }
}
.slide1,
.slide2,
.slide3 {
  min-height: 800px;
}