@import "fonts.css";

$font: Arial, sans-serif;
$font-SSN: SolomonSansNormal, Arial, sans-serif;
$font-SSB: SolomonSansBook, Arial, sans-serif;

$fonts-color-slide1: #fff;
$bg-color-slide1: #6358c0;
$btn-color-slide1: #61acec;

@mixin border-radius($rad) {
  -moz-border-radius: ($rad);
  -webkit-border-radius: ($rad);
  -ms-border-radius: ($rad);
  border-radius: ($rad);
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

.slide1 {
  width: 100%;
  max-width: 1920px;
  background: $bg-color-slide1;
}

.social_network {
  display: inline-block;
  width: 10%;
  text-align: left;
  padding: 0 0 0 2.4%;
  li {
    float: left;
    padding: 16px 9px 0 0;
  }
}
.logo {
  //display: inline-block;
  width: 97px;
  height: 25px;
  text-align: center;
  margin: -25px auto 0;
}
.menu {
  display: inline-block;
  float: right;
  width: 10%;
  text-align: right;
  margin: 18px 2.6% 0 0;
}
.content {
  padding: 84px 0 101px 0;
}
.content_phone {
  display: inline-block;
  float: left;
  width: 20.26%;
  max-width: 389px;
  img {
    width: 100%;
  }
  margin: 0 0 0 23.8%;
}
.content_article {
  display: inline-block;
  width: 28%;
  color: $fonts-color-slide1;
  padding: 90px 0 0 6.5%;
  h1 {
    width: 100%;
    font-family: $font-SSB;
    font-size: 34px;
    line-height: 46px;
    letter-spacing: 1px;
  }
  p {
    width: 80%;
    font-family: $font-SSN;
    font-size: 12px;
    padding: 19px 0 17px 0;
  }
}

.content_button {
}
.button {
  width: 46%;
  min-width: 160px;
  height: 10%;
  background: $btn-color-slide1;
  color: $fonts-color-slide1;
  text-align: center;
  font-size: 16px;
  line-height: 200%;
  padding: 0 1.5%;
}
.controls {
  position: absolute;
  right: 2%;
  top: 300px;
  text-align: center;
}
.controls_1,
.controls_2,
.controls_3 {
  display: inline-block;
  width: 8px;
  height: 8px;
  @include border-radius(6px);
}
.controls_1 {
  border: 2px solid #fff;
}
.controls_2 {
  background: rgba(255, 255, 255, 0.5);
}
.controls_3 {
  background: rgba(255, 255, 255, 0.5);
}