* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Tahoma, sans-serif;
    color: black;
}
img {
    width: 278px;
}
.clearfix {
    clear: both;
}
/*Style the carousel jCarusel*/
.jcarousel-wrapper {
    margin: 20px auto;
    position: relative;
    border: 2px solid #000;
    background-color: #000;
    padding: 9px;
    width: 292px;
    height: 292px;
    border-radius: 10px;
}
    .jcarousel {
        position: relative;
        overflow: hidden;
        width: 280px;
        height: 280px;
        border: 1px solid #E48533;
        padding: 5px;
    }
        .jcarousel ul {
            width: 20000em;
            position: relative;
            list-style: none;
            margin: 0;
            padding: 0;
        }
            .jcarousel li {
                float: left;
            }
/* Carousel Controls */
.jcarousel-prev,
.jcarousel-next {
    position: absolute;
    top: 34%;
    width: 30px;
    height: 90px;
    text-align: center;
    font-size: 30px;
    line-height: 82px;
    text-decoration: none;
    background-color: #000;
    color: #E48533;
}
.jcarousel-prev {
    left: -31px;
    border-radius: 30px 0 0 30px;
}
.jcarousel-next {
    right: -31px;
    border-radius: 0 30px 30px 0;
}
.jcarousel-prev:hover,
.jcarousel-next:hover {
    display: block;
    cursor: pointer;
}
.jcarousel-prev.inactive,
.jcarousel-next.inactive {
    opacity: .5;
    cursor: default;
}

/*Select*/
.select-wrapper {
    margin: 20px auto;
    width: 281px;
}
select {
    color: #E48533;
    background-color: #444444;
}

/*checbox JS*/
.checkboxes {
    background-color: #99CCFF;
    padding: 10px 10px;
    margin: 0 20px;
    font-size: 12px;
}
/* Стилизируем чекбокс, точнее скрываем его */
.check input[type=checkbox] {
    position: absolute;
    left: -10000px;
}
.check {
    display: inline-block;
    width: 17px;
    height: 17px;
    background: url("../../img/checkbox.png") no-repeat 0 0;
    cursor: pointer;
    position: relative;
}
.check.active {
    background-position: bottom; !important
}
label {
    cursor: pointer;
}

/*checbox CSS*/
.checkboxCSS {
    background-color: #99CCFF;
    padding: 10px 10px;
    margin: 0 20px;
    font-size: 12px;
}
.checkboxCSS input[type="checkbox"]{
    display:none;
}
.checkboxCSS input[type="checkbox"] {
    display: inline-block;
    width: 17px;
    height: 17px;
    background: url("../../img/checkbox.png") no-repeat 0 0;
    cursor: pointer;
}

.checkboxCSS input[type="checkbox"]:checked {
    background: url("../../img/checkbox.png") no-repeat bottom;
}

/* Menu */
.menu {
    background-color: #FF6464;
    text-align: center;
    padding-right: 30%;
}
.menu li {
    list-style: none;
    display: inline-block;
    margin: 10px 20px;
    position: relative;
}
.menu a {
    text-decoration: none;
    color: white;
    font-size: 12px;
}
.menu a:hover {
    color: #3E3232;
}
.menu span {
    font-size: 6px;
}
.submenu {
    position: absolute;
    display: block;
    background-color: #E14B4B;
    width: 160px;
    text-align: left;
    left: -20px;
}
.submenu li {
    border-bottom: 1px solid #C83232;
    width: 130px;
    padding: 5px 0 5px 10px;
    margin: 0 10px;
}
.submenu li:last-child {
    border: 0;
}
.submenu-down {
    top: 0;
    left: 150px;
}
.submenu span {
    float: right;
    margin-top: 5px;
}
.submenu span:after {
    content: "";
    display: block;
    clear: both;
}
.submenu {
    display: none;
}