<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>jQuery plagins</title>
    <link href="css/style.css" rel="stylesheet">
    <script src="js/jquery-1.12.3.js"></script>
    <script src="js/jquery.carousel.js"></script>
    <script src="js/template.js"></script>
    <script src="js/script.js"></script>
</head>
<body>
<div class="wrapper clearfix">
<div class="arrow arrow-left"></div>
<div class="carousel-hider">
    <ul class="carousel-list">
        <li class="carousel-element"><img src="img/Mars_1.jpg"><p>Описание 1</p></li>
        <li class="carousel-element"><img src="img/Mars_2.jpg"><p>Описание 2</p></li>
        <li class="carousel-element"><img src="img/Mars_3.jpg"><p>Описание 3</p></li>
        <li class="carousel-element"><img src="img/Mars_4.jpg"><p>Описание 4</p></li>
        <li class="carousel-element"><img src="img/Mars_a.jpg"><p>Описание 5</p></li>
        <li class="carousel-element"><img src="img/Mars_b.jpg"><p>Описание 6</p></li>
    </ul>
</div>
<div class="arrow arrow-right"></div>
</div>

<script type="text/html" id="test">
    <% for ( var i = 0; i < data.length; i++ ) { %>
    <div class="leaf">
        <div class="name_foto">
            <h2><%= data[i].fullName %></h2>
            <img src="img/myfoto.jpg" alt="Фото" title="<%= data[i].fullName %>">
            <p><%= data[i].specialization %></p>
        </div>
        <hr>
        <div class="study_frontend">
            <p><%= data[i].whyThatSpeccialization %></p>
            <ul style="list-style:disc">
                <% for ( var k = 0; k < data[i].whyThatSpeccializationContent.length; k++ ) { %>
                <li><%= data[i].whyThatSpeccializationContent[k] %></li>
                <% } %>
            </ul>
        </div>
        <hr>
        <div class="my_contacts">
            <p><%= data[i].phone %></p>
            <p><%= data[i].phoneNamber %></p>
            <br>
            <p><%= data[i].fasebook %></p>
            <a href="<%= data[i].facebookLink %>" target="_blank"><%= data[i].facebookViewLink %></a>
        </div>
        <hr>
        <div class="my_feedback">
            <p><%= data[i].feedback %></p>
            <p><%= data[i].feedbackLink %></p>
        </div>
    </div>
    <% } %>
</script>

</body>
</html>