@font-face {
    font-family: 'OpenSans';
    src: url('fonts/OpenSans_Regular/OpenSans-Regular-webfont.eot');
    src: url('fonts/OpenSans_Regular/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/OpenSans_Regular/OpenSans-Regular-webfont.woff') format('woff'),
    url('fonts/OpenSans_Regular/OpenSans-Regular-webfont.ttf') format('truetype'),
    url('fonts/OpenSans_Regular/OpenSans-Regular-webfont.svg') format('svg');
}
@font-face {
    font-family:"LeagueGothic";
    src:url("fonts/LeagueGothic/League_Gothic.eot?") format("eot"),
    url("fonts/LeagueGothic/League_Gothic.woff") format("woff"),
    url("fonts/LeagueGothic/League_Gothic.ttf") format("truetype"),
    url("fonts/LeagueGothic/League_Gothic.svg#LeagueGothic") format("svg");
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family: 'GeorgiaItalic';
    url("fonts/georgia/georgia italic.ttf") format("truetype");
}