<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Пустой</title>
    <link href='css/resetstyle.css' rel='stylesheet'>
    <link href="css/style.css" rel="stylesheet">
    <script src="js/template.js"></script>
    <script src="js/carouselModel.js" type="text/javascript"></script>
</head>
<body>
<div class="sportender">
<div class="sportender-logo">sportender</div>

    <div class="sportender-top clearfix">
        <!-- Галерея -->
        <div class="gallery clearfix">

            <!-- Модальное окно для галереи -->
            <div id="openModal" class="modalDialog">
                <div>
                    <a href="#close" title="Закрыть" class="close"><img src="img/close.png"></a>
                    <img src="img/xxx01.jpg">
                </div>
            </div>
            <!-- end Модальное окно для галереи -->

            <div id="jssor_1" style="position: relative; margin: 0 auto; top: 0; left: 0; width: 339px; height: 367px; /*Размеры блока*/ overflow: hidden; visibility: hidden;/* background-color: #24262e;*/">
                <!-- Loading Screen -->
                <!--<div data-u="loading" style="position: absolute; top: 0; left: 0;">-->
                <!--<div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0; left: 0; width: 100%; height: 100%;"></div>-->
                <!--<div style="position:absolute;display:block;background:url('img/loading.gif') no-repeat center center;top:0;left:0;width:100%;height:100%;"></div>-->
                <!--</div>-->
                <!-- end Loading Screen -->
                <div data-u="slides" style="border: 1px solid #acacac; cursor: default; position: relative; top: 0; left: 0; width: 337px; height: 267px; /*Размеры изображения*/ overflow: hidden;">
                    <!--<a data-u="any" href="http://www.jssor.com" style="display:none">Image Gallery</a>-->
                    <div data-p="144.50">
                        <a href="#openModal"><img data-u="image" src="img/01.jpg"></a>
                        <img data-u="thumb" src="img/thumb-01.jpg">
                        <div></div>
                    </div>
                    <div data-p="144.50" style="display: none;">
                        <a href="#openModal"><img data-u="image" src="img/01.jpg"></a>
                        <img data-u="thumb" src="img/thumb-02.jpg">
                    </div>
                    <div data-p="144.50" style="display: none;">
                        <a href="#openModal"><img data-u="image" src="img/01.jpg"></a>
                        <img data-u="thumb" src="img/thumb-03.jpg">
                    </div>
                    <div data-p="144.50" style="display: none;">
                        <a href="#openModal"><img data-u="image" src="img/01.jpg"></a>
                        <img data-u="thumb" src="img/thumb-04.jpg">
                    </div>
                </div>

                <!-- Thumbnail Navigator -->
                <div data-u="thumbnavigator" class="jssort01" style="position:absolute;left:0;bottom:0;/*width:800px;*/height:100px;" data-autocenter="1">
                    <div data-u="slides" style="cursor: default;">
                        <div data-u="prototype" class="p">
                            <div class="w">
                                <div data-u="thumbnailtemplate" class="t"></div>
                            </div>
                            <div class="c"></div>
                        </div>
                    </div>
                </div>
                <!-- end Thumbnail Navigator -->
            </div>
        </div>
        <!-- end Галерея -->

        <!-- Цена, кнопки, описание, другие работы автора -->
        <div class="rightpart clearfix">
            <div class="prise">$700.00<span>&nbsp;usd</span></div>
            <div class="buttons">
                <button id="buy" class="button-buy">Купить</button>
                <button id="change" class="button-change">Изменить</button>
            </div>
            <div class="description">
                <h1>Описание</h1>
                <p>Этот логотип идеально подходит для магазина лампочек,<br>
                    света, да и вообще!.......он крут!</p>
            </div>
            <div class="format">
                <h1>Формат</h1>
                <p>eps</p>
            </div>
            <div class="category">
                <h1>Категории</h1>
                <ul>
                    <li><a href="#">Наука</a>,</li>
                    <li><a href="#">Предметы</a>,</li>
                    <li><a href="#">Разное</a>,</li>
                    <li><a href="#">Сервис</a>,</li>
                    <li><a href="#">Технологии</a>,</li>
                </ul>
            </div>
            <div class="over clearfix">
                <h1>Автор</h1>

                <div class="over-article clearfix">
                    <img src="img/bird.jpg" title="Птичка" alt="bird">
                    <h2>OlichDesign</h2>
                    <p class="over-article__p">Спецализация:&nbsp;<span>Motion Designer</span></p>
                    <p>Колличеств загруженных работ:&nbsp;<span>15</span></p>
                </div>

                <div class="carousel clearfix">
                    <h1>Другие работы автора</h1>

                    <div class="prev"><img src="img/arrow-left.png"></div>
                    <div class="next"><img src="img/arrow-right.png"></div>

                    <div class="carousel-list">
                        <ul>
                            <li><a href="#"><img src="img/over01.jpg" style="width:73px; height:68px;"></a></li>
                            <li><a href="#"><img src="img/over02.jpg" style="width:73px; height:68px;"></a></li>
                            <li><a href="#"><img src="img/over01.jpg" style="width:73px; height:68px;"></a></li>
                            <li><a href="#"><img src="img/over01.jpg" style="width:73px; height:68px;"></a></li>
                            <li><a href="#"><img src="img/over02.jpg" style="width:73px; height:68px;"></a></li>
                            <li><a href="#"><img src="img/over01.jpg" style="width:73px; height:68px;"></a></li>
                            <li><a href="#"><img src="img/over01.jpg" style="width:73px; height:68px;"></a></li>
                            <li><a href="#"><img src="img/over01.jpg" style="width:73px; height:68px;"></a></li>
                            <li><a href="#"><img src="img/over02.jpg" style="width:73px; height:68px;"></a></li>
                        </ul>
                    </div>

                </div>

            </div>
        </div>
    <!-- end Цена, кнопки, описание, другие работы автора -->
    </div>
    <div class="sportender-similar">
        <h1>Похожие логотипы</h1>

        <div class="carousel__similar">
            <div class="prev"><img src="img/arrow-left-big.png"></div>
            <div class="next"><img src="img/arrow-right-big.png"></div>

            <div class="carousel__similar-list">

                <script type="text/html" id="similarlogos">
                    <% for ( var i = 0; i < data.length; i++ ) { %>
                    <li>
                        <a href="#"><img src="<%= data[i].img %>" style="width:168px; height:143px;"></a>
                        <p><%= data[i].price %>$<button type="button">В корзину</button></p>
                        <h1><%= data[i].title %></h1>
                    </li>
                    <% } %>
                </script>

                <ul class="changeitems">
                </ul>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
<script src="js/template.js"></script>
<script src="js/jssor.slider-21.1.6.mini.js"></script>
<script src="js/jquery.carousellite-1.0.1.js"></script>
<script src="js/script.js"></script>
</body>
</html>
